[2015-08-26 18:17] andrewconnell opened #6 "Non alphanumeric characters in project name causes generator to fail"
Need to do a regex check when collecting info: `^[a-zA-Z0-9]*$`

[2015-08-26 19:39] martellaj opened #7 "index.html files in Angular Mail Add-in apps have bad references"
Looks like file structure changed, but includes in index.html files haven't.

[2015-08-27 10:09] #7 closed

[2015-08-27 16:28] jasonjoh opened #10 "Generator seems to hang waiting for user to hit Enter to finish"
Using generator on Windows 10 in the following manner:

    yo office
    ? Project name (display name): yotest2
    ? Root folder of project? Default to current directory
     (C:\Users\jasonjoh\Source\Repos\mail-addins\yotest2), or specify relative path
      from current (src / public):
    ? Office project type: Mail Add-in (read & compose forms)
    ? Technology to use: HTML, CSS & JavaScript

[2015-08-28 16:00] mauricionr opened #11 "appsforoffice.microsoft.com/lib/1.1/hosted/o15apptofilemappingtable.js:11 Uncaught TypeError: window.external.GetContext is not a function"
![windowexternalgetcontext](https://cloud.githubusercontent.com/assets/2263551/9550936/97c866c6-4d84-11e5-8412-84ab7254bbb0.png)

Hey there, i'm trying to run this generator using angular, but i got this error, any sugestion?

Thanks!

[2015-08-28 17:45] jthake commented on #11
Did you modify any code at all after the generator ran? Did you follow the youtube video to deploy the manifest and actually run the add-in in Outlook in a browser?
http://dev.office.com/blogs/creating-office-add-ins-with-any-editor-introducing-yo-office

[2015-08-28 17:45] #11 closed

[2015-08-28 17:58] mauricionr commented on #11
Here is my manifest

![manifestfile](https://cloud.githubusercontent.com/assets/2263551/9553399/2d89c410-4d95-11e5-9190-100d03c4b23c.png)

[2015-08-28 17:59] mauricionr commented on #11
My manifest file

![angularmanifestfile](https://cloud.githubusercontent.com/assets/2263551/9553427/5f116344-4d95-11e5-9663-00b7cc26afe9.png)

[2015-08-28 18:03] mauricionr commented on #11
![runninginoutlook365](https://cloud.githubusercontent.com/assets/2263551/9553507/e959a642-4d95-11e5-8ff4-31cbabd9b8c7.png)

[2015-08-28 19:41] martellaj commented on #10
+1 confirmed.

[2015-08-28 22:39] martellaj opened #12 "Automate "bower install" after "npm install""
I think you should add the following snippet into the ```package.json``` file to automatically run ```bower install``` after running ```npm install```. I know this is done when you first use the generator, but if I do a fresh clone of a project that has used the generator and run ```npm install```, I'll be left without any of my bower components. It's a pretty simple addition and I can submit a PR

[2015-08-30 09:54] andrewconnell commented on #12
Are you referring to the actual generator's `package.json` or the genratED file? If the latter, let's add it... please submit a PR!

If the former, I would prefer if we left it the way it is. The way we have done it, we're following the same model that other generators are following (see [generator-angular](https://github.com/yeoman/generator-angular) for instance). That model doesn't have the too

[2015-08-30 10:21] andrewconnell opened #13 "Add Mail Add-in Options for Mail & Calendar Read & Compose"
Currently the generator builds mail read & compose forms. When picking a mail add-in, the generator should instead then prompt the user for four options, of which they can pick one or more:

- Mail Compose Form
- Mail Read Form
- Calendar Compose Form
- Calendar Read Form

[2015-08-30 10:23] andrewconnell opened #14 "Add product options for task pane & contact add-in options"
When creating a Office Task Pane Add-in or Content Add-in, prompt the user for the Office client products that the add-in is for:

- Word
- Excel
- PowerPoint
- OneNote
- ...

This should be an extra question and allow 1 or more selections, but this should only show when the user picks one of these two add-in types.

[2015-08-30 10:25] andrewconnell opened #15 "Improve code coverage reports"
Update tests to improve code coverage. This may involve ignoring some non-applicable code paths with [istanbul's ignore comment](https://github.com/gotwarlost/istanbul/blob/master/ignoring-code-for-coverage.md) options.

[2015-08-30 10:31] andrewconnell opened #16 "When released - add Office Fabric UI"
When it's publicly released, include the Office Fabric UI as a dependency to all add-ins as using both bower & (if provided) the public CDN's.

Include both references in the `index.html` file but comment out the local bower references (default to CDN).

[2015-08-30 13:53] kcraigo opened #17 "Add TypeScript as an option for Technology to use"
Maybe I'm just being lazy but TypeScript to me would be a great option to have in the list of Technology to use choices.

[2015-08-30 18:27] martellaj commented on #12
I meant from the generated file. I thought if it's installed globally, you can run it from anywhere and it'll work as expected as long as there is a bower.json file. The script I was thinking would just be:

[code]

If it sounds good to you, feel free to assign it to me and I will submit a PR by EOD tomorrow.

[2015-08-31 13:17] andrewconnell commented on #12
Sounds good to me... assigned!

Btw when you submit the PR, please be sure to submit to the **dev** branch as we want to keep the **master** branch a reflection of what's currently published on NPM's registry. @jthake & I need to formalize the contributor guidelines...

[2015-08-31 17:35] martellaj commented on #12
Will do. Thanks, Andrew!

[2015-08-31 18:04] martellaj commented on #12
How can I run the generator locally to test if my changes are working as expected? I tried ```gulp run-yo``` and it runs the generator, but doesn't create a new package.json file unfortunately. If that's the way to do it, it might be a new bug.

[2015-08-31 18:26] andrewconnell commented on #12
Nope you don't do it like that. it's sort of explained here at the end: http://yeoman.io/authoring/

So to do local dev of a generator, first uninstall the one you got from NPM's registry because you want to test YOUR code, not the globally installed one you got from the public distro.

Then on the command line run `npm link` within the root of the repo where you have the generator. That's like in

[2015-09-01 21:38] martellaj opened #18 "Add "HiResolutionIconUrl" in manifest.xml by default"
Apparently having the HighResolutionIconUrl element [is mandatory](https://msdn.microsoft.com/en-us/library/office/jj220035.aspx#bk_5) in submitting an Office Add-in. Might as well include that by default then.

[2015-09-01 21:42] martellaj opened #19 "Add "SupportUrl" in manifest.xml by default"
Apparently having the SupportUrl element is mandatory in submitting an Office Add-in. Might as well include that by default then.

[2015-09-02 14:42] andrewconnell commented on #19
Where do you see that?
https://msdn.microsoft.com/en-us/library/office/fp161044.aspx#O15AgaveManifestOverview_Common

[2015-09-02 14:45] andrewconnell commented on #18
Hmmm... I'm not seeing it in that link... searched for **HighResolutionIconUrl**

[2015-09-02 14:46] martellaj commented on #18
It was feedback I got when my app was reviewed. Maybe a bug in the content. I'll follow up when I get to the office.

[2015-09-02 19:24] andrewconnell opened #20 "Add tsd.json with references to jQuery & Angular"
Where appropriate, include a `tsd.json` file in the root of the generated projects that includes references to the relevant type definition files for the JS libraries referenced.

[2015-09-02 19:27] andrewconnell opened #21 "Add jsconfig.json to root of projects"
This helps editors like [Code](http://code.visualstudio.com) understand this is a JS project and not require developers to include the `/// <reference` comments at the top of all JS files.

[2015-09-02 20:14] andrewconnell commented on #18
OK I see it listed in the [manifest schema](https://msdn.microsoft.com/en-us/library/office/fp123711.aspx) but the schema does not say it is required... however i'll include it as it can't hurt.

It's included in a future update that I'll push from my fork: b1eae8f894849df0aceffed23f2ba13304c9d580

[2015-09-02 20:14] andrewconnell commented on #19
It's included in a future update that I'll push from my fork: b1eae8f894849df0aceffed23f2ba13304c9d580

[2015-09-02 21:24] jthake opened #22 "Add *.d.ts files from DefinitelyTyped.com"
This requires the *.d.ts files to be in DefinitelyTyped.com which is coming soon.

[2015-09-03 10:02] andrewconnell commented on #6
Fixed in df37a14fe864d15ed129712425c66144a8601f64

[2015-09-03 10:11] andrewconnell commented on #21
Added in 76695e3cbbb07423b872a2c55a0b0f9304d379c6

[2015-09-03 10:11] andrewconnell commented on #22
Added in 76695e3cbbb07423b872a2c55a0b0f9304d379c6

[2015-09-03 10:20] andrewconnell commented on #10
Confirmed... investigated but not sure what's causing it. Still under investigation...

[2015-09-03 12:55] andrewconnell commented on #16
Added in 402f7bb7381c7b30b4095852e6424b7dd46b820d

[2015-09-03 13:14] andrewconnell commented on #12
Added in f609c24a870d76a1affd22c5f1a50d9000da5b44

[2015-09-03 13:26] andrewconnell commented on #15
Included in 949d685400d52844f115e304ced8a292433ff1e2

[2015-09-03 13:34] #6 closed

[2015-09-03 13:34] #12 closed

[2015-09-03 13:34] #15 closed

[2015-09-03 13:34] #16 closed

[2015-09-03 13:34] #18 closed

[2015-09-03 13:34] #19 closed

[2015-09-03 13:34] #20 closed

[2015-09-03 13:34] #21 closed

[2015-09-03 13:34] #22 closed

[2015-09-03 20:26] andrewconnell commented on #14
Added in 15939a7ae93574c42f99e7858debf99d6c30d454

[2015-09-03 20:26] #14 closed

[2015-09-04 09:46] andrewconnell commented on #18
Oops... pulling this out of task pane & content apps... can't find it in the Office Store requirements link you have above, but did find it here as being listed only for mail apps: https://msdn.microsoft.com/en-us/library/office/fp161044.aspx

[2015-09-04 13:14] andrewconnell opened #24 "Add XML validation gulp task"
Create a gulp task that will perform XSD validation on the Add-in manifest to ensure it's valid after edits.

[2015-09-04 14:07] andrewconnell commented on #13
added in 6dd72e5261e13b7b4a1213c13012a8d35e5fd3bc

[2015-09-04 14:07] #13 closed

[2015-09-04 15:27] andrewconnell opened #26 "Add jshint & jscs to project"
Standardize coding style & rules. Include this as a gulp task.

[2015-09-09 01:23] andrewconnell commented on #26
Fixed in 97d59f8211a239caa61a52d9982fce8926c629ac

[2015-09-09 01:23] #26 closed

[2015-09-09 15:29] waldekmastykarz opened #29 "Generator creates invalid manifest.xml file"
The generator creates an invalid add-in manifest file. If you try to upload the manifest.xml directly after generating the add-in, the Apps for Office catalog in SharePoint Online will consider the manifest as invalid. In order to fix the issue you need to remove the empty `<SupportUrl/>` element from manifest.xml. After that you will be able to upload the manifest.xml file as expected.

[2015-09-09 16:51] andrewconnell commented on #29
When the `manifest.xml` file is built by the generator, it has some stuff in it that is designed for the user to act on... it's not perfect. For instance if you need regex matches in Outlook forms or to update the description and final URLs for the add-in's website.

One solution so it passes validation is to insert a dummy URL or insert the placeholder URL that the generator replaces.

Thoughts?

[2015-09-09 17:41] waldekmastykarz commented on #29
How about doing something similar as for the `ProviderName` element or the `Description DefaultValue` attribute where the value is a placeholder that the dev has to replace?

[2015-09-09 17:43] andrewconnell commented on #29
Good suggestion... want to take it on?

[2015-09-09 17:46] waldekmastykarz commented on #29
Definitely!

[2015-09-09 19:10] andrewconnell opened #30 "Update docs for developers, testing & contributors"
Update the `/docs` folder with new content:

- [x] update `readme.md`
- [x] move & refactor the `CONTRIBUTING.md` doc to docs (rename to `contributing.md`)
- [x] add details on CLA
- [x] add `developer-guide.md`
- [x] add `developer-testing.md`
- [x] revamp example docs
- [x] revamp `docs/readme.md`
- [x] add instructions on forking, resyncing & committing

[2015-09-09 21:16] #30 closed

[2015-09-10 14:12] andrewconnell commented on #11
@mauricionr These are not issues with the generator, rather the appear to be issues with the development of your addin. Please use this issue list for issues related to the generator & post development questions for office addins to StackOverflow and make sure to tag them with **[ms-office](http://stackoverflow.com/questions/tagged/ms-office)** and/or **[office-addins](http://stackoverflow.com/que

[2015-09-10 16:34] waldekmastykarz commented on #24
I've done some work around validating XML with XSD in the past and perhaps could help if still needed. Do you know if there is an XSD available or would we need to build it ourselves using the schema information from MSDN?

[2015-09-10 17:43] waldekmastykarz opened #34 "When generating an add-in in a directory relative to current some files get placed in the current directory rather than the specified project root directory"
When generating an add-in in a directory relative to current the following structure is generated (based on a Task Pane Add-in built using HTML):

[code]

Shouldn't all files be placed in the project root directory which is what you get when you choose the current directory to be the project root directory, ie:

[code]

[2015-09-10 18:01] andrewconnell commented on #24
The schema is defined and published: [MSDN: Schema reference for Office Add-ins manifests (v1.1)](https://msdn.microsoft.com/en-us/library/7e0cadc3-f613-8eb9-57ef-9032cbb97f92). The original idea here is to add a gulp task to the `gulpfile.js` that's added with the generated project (not in the generator's `gulpfile.js`). This way developers could use the gulp task to validate their `manifest.xml`

[2015-09-10 18:25] waldekmastykarz commented on #10
For what it's worth: I've found that when you run `yo office` the generator waits at the end to press Enter as you guys mentioned, but if you call it with a specific add-in type, ie `yo office:taskpane` it finishes just as expected.

[2015-09-10 18:38] andrewconnell commented on #34
I think you're misunderstanding how the relative folder question works. When you don't use the current folder, the scenario is that you are currently in the root of a project (like an ASP.NET / Ruby / Node+Express) folder and want the addin to go in a special place.

The files added to the root that you have listed above typically go in the root of a project as that's where the tools look for them

[2015-09-10 18:38] #34 closed

[2015-09-10 18:38] waldekmastykarz commented on #24
Definitely!

[2015-09-10 18:39] waldekmastykarz commented on #34
Check. Misunderstood it indeed.

[2015-09-10 18:41] #29 closed

[2015-09-10 18:43] andrewconnell commented on #24
Cool... it's yours @waldekmastykarz! Please ensure you've got some good tests around the task... curious to see how you implement unit tests for a gulp task as I haven't done that before. [This might help](http://stackoverflow.com/questions/24567417/how-to-test-gulp-tasks) with that.

Removing the **help-wanted** tag as it's now yours.

[2015-09-11 05:00] waldekmastykarz commented on #10
Digging a bit further I found out that it's the `clients` question that's causing the stop. If you pass it as one of the options, ie. `yo office --clients Word` the generator finishes as expected without the need to press Enter at the end.

[2015-09-11 06:23] waldekmastykarz commented on #24
So I've done some research and it seems like there aren't that many XML validators using XSD for Gulp/Node. Two I've found are https://github.com/polotek/libxmljs and https://www.npmjs.com/package/libxml-xsd, but some developers report issues with cross platform support. I'm going to continue the search, in the meanwhile any suggestions for a package that we could use for XML validation with XSD a

[2015-09-11 10:13] waldekmastykarz commented on #24
I've done some additional research on libxmljs and libxml-xsd. Libxml-xsd fails during installation and libxmljs fails XML validation when using the Office App XSD. It seems like libxml, which does the XML processing, cannot deal with complex types: as soon as it finds one in XSD it throws an error: Invalid XSD Schema. One more thing that we could try is https://github.com/nikku/node-xsd-schema-va

[2015-09-11 12:19] waldekmastykarz commented on #24
I've put up a [sample repo](https://github.com/waldekmastykarz/sample-xml-validation) showing how we could use the xsd-schema-validator for validating the manifest.xml file with its XSD. A couple of thoughts so far:

- the package used for validation requires Java. Additionally on OSX it requires you to manually configure the JAVA_HOME environment variable
- it's not always obvious from the valida

[2015-09-11 12:55] andrewconnell commented on #10
I wish that was the case... it was doing this before we added the question about which client(s) you wanted.

Need to look into it more. I actually see this with multiple command line tools based on Node... not just Yeoman.

[2015-09-11 12:56] andrewconnell commented on #24
We def. don't want to add a Java dependency... ideally no dependencies that require extra installs...

[2015-09-11 12:59] waldekmastykarz commented on #24
Totally understood. In that case we'll have to continue looking for a working XML validation library. Both libxmljs and libxml-xsd that I mentioned before are based on the libxml library which doesn't seem to work with complex types.

[2015-09-11 13:02] andrewconnell commented on #24
While it would be unfortunate, I personally would rather not have this feature than require an extra install somewhere. Surprised there isn't a NPM module for schema validation :-/

[2015-09-11 17:22] waldekmastykarz commented on #24
I was surprised about that too. The few I've found either didn't install, didn't work with Office Add-in XSD and/or required additional installs. I still hope we'll be able to find one that works as this would be a great enhancement for the dev experience.

[2015-09-11 17:36] andrewconnell commented on #24
Some prospects you can explore:
- https://www.npmjs.com/package/grunt-xml-validator (view source to port from grunt)
- https://github.com/jindw/xmldom

[2015-09-11 19:29] waldekmastykarz commented on #24
Thanks for the tip. I'll take a look!

[2015-09-11 19:39] waldekmastykarz commented on #24
OK, so I've just found another package working: [libxml-xsd](https://www.npmjs.com/package/libxml-xsd). The only thing is that the version published on npm has a bug with newer versions of Node and we would need to link to the commit from the main branch on Git instead until it gets published on npm (more info at https://github.com/albanm/node-libxml-xsd/issues/2#issuecomment-118427344). Would tha

[2015-09-11 20:13] waldekmastykarz commented on #24
I've had a look at xmldom (grunt-xml-validator uses it too) and it seems like it only validates the document structure (closed tags, attribute values in quotes, etc.) and not its contents using a schema. I might be missing something but I've found no references to schema or validation in xmldom code.

[2015-09-11 20:27] andrewconnell commented on #24
Sure… that would be fine with me

--

-AC

Andrew Connell

www.andrewconnell.com<http://www.andrewconnell.com/> | me@andrewconnell.com<mailto:me@andrewconnell.com>

@andrewconnell<http://www.twitter.com/andrewconnell> | www.linkedin.com/in/andrewconnell<http://www.linkedin.com/in/andrewconnell>​

From: Waldek Mastykarz
Reply-To: OfficeDev/generator-office
Date: Friday, September 11, 2015 at 3:39 P

[2015-09-12 14:06] waldekmastykarz commented on #24
Awesome. Let me refactor the sample I've built so that we can see if we're happy with the results.

[2015-09-13 13:19] waldekmastykarz commented on #24
I'm having trouble with installing libxml-xsd on node v0.12.7 and node-gyp v3.0.2. There have been compatibility issues with the package and its dependencies in the past and now I'm experiencing something similar. I've opened an issue with the author of libxml-xsd. Hopefully it will be solved soon and we'll be able to proceed.

[2015-09-17 09:47] shenshouer commented on #11
nothing more resource about office.js, and no Solution!!

[2015-09-18 14:07] waldekmastykarz commented on #24
I've found another library that we can use for XML validation with XSD without any odd dependencies. I've updated the sample at https://github.com/waldekmastykarz/sample-xml-validation. @andrewconnell would you mind taking a look if this is something we could use?

[2015-09-18 17:11] andrewconnell commented on #24
Based on your samples it looks like it… the idea was to have a gulp task that you call to validate it and it looks like that’s what you’ve done. Nice work!

[2015-09-18 17:37] waldekmastykarz commented on #24
Thanks! Let me start working on the unit tests for it.

[2015-09-18 17:40] waldekmastykarz opened #36 "Compose assets generated for a read form-only add-in"
Is it by design that even if you choose to have a Mail Add-in registered with the read form only the generator still creates assets for compose forms (ie. app files + manifest.xml registration info)?

[2015-09-18 17:46] waldekmastykarz opened #37 "Intellisense for manifest.xml"
I noticed that if you put the XSD with the OfficeApp schema in the same directory as manifest.xml, Visual Studio Code gives you intellisense for the manifest's XML. I can imagine this being very useful for editing it. I'm not sure if this behavior is specific for VSCode but if there are more editors supporting it, we could include the XSD with the generated project to simplify working with the man

[2015-09-18 18:09] waldekmastykarz opened #38 "Invalid reference to scripts/jquery.fabric.min.js in generated appread files"
For a Mail Add-in the `appread/index.html` file contains an invalid reference to the jquery.fabric.min.js file. The generated reference is `scripts/jquery.fabric.min.js` while it should be `../scripts/jquery.fabric.min.js` to point to the correct location of the JavaScript file. The same invalid path is also used in references to `content/fabric.min.css` and `content/fabric.components.min.css`.

[2015-09-18 18:14] waldekmastykarz opened #39 "Invalid reference to home/home.html in app.routes.js in generated appread files"
For a Mail Add-in the `appread/app.routes.js` file contains an invalid reference to the `home/home.html` file. The generated reference is `appread/home/home.html` while it should be `home/home/html` to point to the correct location of the file.

[2015-09-20 11:19] waldekmastykarz commented on #24
I've added unit tests to my sample repo at https://github.com/waldekmastykarz/sample-xml-validation. Would you mind checking it out @andrewconnell?

[2015-09-20 16:39] waldekmastykarz opened #40 "The type attribute is obsolete on script tags in html5"
According to the [HTML5 spec](http://www.w3.org/html/wg/drafts/html/master/semantics.html#the-script-element) if a script tag refers to a `text/javascript` script, then the `type` attribute is not required. Removing it from the code would simplify the markup.

[2015-09-20 16:41] waldekmastykarz opened #41 "All script tags referring to application/javascript"
In the `index.html` file all JavaScript references specify the script type as `application/javascript`. Shouldn't it be `text/javascript` instead which is the default script type in HTML5? If the script type will be changed consider removing it altogether as mentioned in issue #40.

[2015-09-20 17:35] waldekmastykarz opened #42 "Add Angular + ADAL JS as technology"
Add Angular + ADAL JS as technology to simplify building add-ins connected to Office 365. Add-in generated using this technology would contain all the manual steps described in the [ADAL JS manual](https://github.com/OfficeDev/generator-office/blob/master/docs/adal-config.md).

[2015-09-20 18:44] waldekmastykarz opened #43 "Add support for generating web applications communicating with Office 365"
Add support to generate scaffolding of web applications communicating with Office 365. Sample of how this could look like is available at https://github.com/waldekmastykarz/sample-generator-office365app.

[2015-09-21 01:48] andrewconnell commented on #24
Can you go ahead and add it to the generator-office repo and submit it as a PR? This avoids having to check this twice as when you submit the PR it will run all tests and make sure the test coverage is acceptable with the existing project. Thanks!

[2015-09-22 07:25] waldekmastykarz commented on #24
Will do!

[2015-09-22 18:14] waldekmastykarz commented on #24
For integrating unit tests for the xml validation gulp task I've been wondering what the best way to do that would be. Given that XML validation works the same for all generators we might include a separate suite of tests for XML validation. On the other hand if you really want to be sure that each copy of the gulp task will work as expected we could try to have the xml validation tests run after

[2015-09-22 21:11] andrewconnell commented on #24
Personally I prefer the latter… that each one works for each generator. Reason being if there’s a typo in one of the gulpfile.js when an update is applied down the road, the test suite won’t cover it.

[2015-09-23 13:39] waldekmastykarz commented on #24
Check.

[2015-09-25 04:57] waldekmastykarz commented on #24
I've just submitted the PR with the XML validation task and unit tests. Because we're running gulp on the project's gulpfile.js we have to do npm install to install local gulp. In the current setup this is done for each test. As a result the whole test run takes about 20mins. I'm curious if you see any way in which we could speed up this process.

[2015-09-25 13:09] andrewconnell commented on #24
Good work man… but before we merge this in we have to address the duration of the test runs as it will dramatically hinder dev going forward IMHO.

Is it really necessary to do NPM install before EACH test? What’s the downside to running it just once before all the tests in the suite? We’ve got to figure another way out as if it takes 20m to run all tests, that’s going to really hinder development

[2015-09-25 18:16] waldekmastykarz commented on #24
Thanks! The way the test are currently setup we do, because the temp directory where the local gulpfile.js is, is recreated for each test. I can of think two things that we could do:
1. We could wrap all tests into a single test and let is pass only if all conditions are satisfied. Not ideal because figuring out what went wrong might be harder but relatively easy to do and would have little impact

[2015-09-25 22:06] andrewconnell commented on #24
I’ll answer, but let’s consider something (after my answer)…

Option 2… create a separate test that refactors out the tests needed to test this… we can change the current test runners in the `package.json` file (https://github.com/OfficeDev/generator-office/blob/master/package.json#L26-L28) so that the existing ones (test & test-coverage) test all the non xml validation tests, but we have another

[2015-09-26 08:09] waldekmastykarz commented on #24
If you look at the code that we have now, we are using **xmllint** for XML validation all of which is done within the **xmllint** module https://github.com/waldekmastykarz/generator-office/blob/issue-24/generators/content/templates/common/gulpfile.js#L31-L34. The unit tests that we have built check that the validate-xml task works correctly, but now that you mention it I wonder if we aren't really

[2015-09-27 10:21] andrewconnell commented on #24
That’s a really good point… not that I understand what you’ve written, it does seem like we’re testing an external component which we shouldn’t do… so it seems like we should just go ahead and get rid of all the tests you’ve written… just wack that one commit. Sorry you put that effort into it!

As for the fail, I was hoping the component you were using emitted errors as a stream, but appears that

[2015-09-27 10:36] waldekmastykarz commented on #24
Definitely!

[2015-10-01 19:36] StfBauer opened #47 "Creation of TaskPane Addin failed."
Hi, i tried to create a TaskPane Addin and got the following  error. Is is a bug or is there something I can do about?

This generator can also be run with: yo office
<img width="844" alt="screen shot 2015-10-01 at 21 39 37" src="https://cloud.githubusercontent.com/assets/5503835/10231785/f6d4879c-6884-11e5-9e24-1d48a3054b23.png">

[2015-10-02 17:10] waldekmastykarz commented on #47
Which version of node, npm, yo, generator are you using? I've tried building an app using the same parameters and everything seems to be working just fine.

[2015-10-02 18:53] StfBauer commented on #47
Yo: 1.4.8
node: v0.12.7
Generator is the latest.
Haven't upgraded to latest version because it has some issues with default web app generator.

[2015-10-02 19:50] waldekmastykarz commented on #47
That's odd. I'm on the same setup. Are other node packages working as expected or is this the only one that you are using?

[2015-10-03 00:11] jthake opened #48 "HighResolutionIconUrl invalid on creation"
Getting an error in uploading the manifest.xml when using yo office.

"This app can't be installed. The HighResolutionIconUrl value '[Icon URL]' isn't a corectly formatted URL."

 Although it's great we use these values. I think its better to actually include a icon placeholder in the project and reference that with https://localhost:8443/ url as we are hard coding that anyway. Less steps to getti

[2015-10-03 09:16] StfBauer commented on #47
Trashed the folder and tried it again. In the new folder it worked without any problem. Strange thou.

[2015-10-03 09:16] #47 closed

[2015-10-04 04:49] MrPiao opened #49 "gulp run-yo does not work on Windows due to pathing issues"
The problem seems to be right here in gulpfile.js:

[code]

This ends up looking for cli.js in the wrong place:

[code]

Changing ` path.join(which.sync('yo'), '../../', 'lib/node_modules/yo/lib/cli.js'),` to ` path.join(which.sync('yo'), '../../', 'npm/node_modules/yo/lib/cli.js'),` works, but a proper fix would switch based on the OS or maybe programmatically find the npm path?

[2015-10-04 04:51] MrPiao commented on #48
I have a local fix using an icon in the public domain but having problems with verification...

[2015-10-04 22:30] MrPiao opened #50 "Impossible to execute gulp run-yo without mangling your gulpfile.js, packages.json, etc."
Is it supposed to be possible to run your private instance of the generator (presumably using gulp run-yo) without messing up your gulfile.js and others? What is the expected developer steps to test your version of the generator?

[2015-10-05 06:53] waldekmastykarz commented on #50
I don't know the answer to the first question but for your second question what you can do is to clone the repo, uninstall the official generator then `cd` to the local clone of your repo and run `npm link`. This will make Yeoman use your local instance of the generator rather than the official one.

[2015-10-06 20:39] MrPiao commented on #50
As a new contributor, I'm confused as to how to do this, and if I'm not mistaken we did not put this anywhere. Can we figure out a better manual testing story and meanwhile document what you said above in our contributing tips?

[2015-10-06 22:21] jthake opened #51 "Error: Unable to parse C:\Users\Jeremy\src\.bowerrc: Unexpected token M"
Got this error on a fresh windows 10 environment with node, git installed after running

npm install -g yo generator-office bower

I used yo office and for folder location "\My First" and it threw an error. Iwanted it to create a sub folder and add there but it broke. Doing it with "/MyFirst" with no space and the bower bit works fine. Looks like its something on how the bower command is run.

It

[2015-10-07 13:09] waldekmastykarz commented on #50
Although there are some docs around contribution guidelines and testing this particular step isn't mentioned indeed. I guess it would be helpful to include it to help devs test their work locally before submitting PRs.

[2015-10-07 18:48] jasonjoh commented on #48
I ran into this as well. Fixing `HighResolutionIconUrl` will cause it to then fail on `SupportUrl`. So you actually need to fix both values before it will work out of the box.

[2015-10-07 18:50] MrPiao commented on #48
Yeah my pull requests fixes both :)

[2015-10-07 18:55] jasonjoh commented on #48
Oh ok. I only looked at the referenced commit.

[2015-10-07 18:56] MrPiao commented on #48
Must have forgotten to ref it on the second commit.

[2015-10-07 22:53] Ricalo commented on #36
I just looked at that behavior and it seems odd to me. Adds unnecessary clutter to the project.

[2015-10-08 00:04] Ricalo opened #54 "Angular app lists the directory contents instead of the actual app"
When browsing to the root of the app, I see the contents of the root folder.
![image](https://cloud.githubusercontent.com/assets/989368/10354456/c0420b52-6d14-11e5-9426-8eae454c69f0.png)

However, I think what you're trying to show is something like the following image
![image](https://cloud.githubusercontent.com/assets/989368/10354405/5dd6f39c-6d14-11e5-8d8c-b48bb81987ac.png)

If this is right, y

[2015-10-08 15:44] jasonjoh opened #55 "Add support for add-in commands to mail add-in"
We should show off the new add-in commands in the add-in that's generated.

http://blogs.msdn.com/b/exchangedev/archive/2015/08/31/introducing-add-in-commands.aspx
http://blogs.msdn.com/b/exchangedev/archive/2015/09/01/building-add-ins-with-commands.aspx

I have a demo add-in that shows the three command button types that's a straight HTML/CSS/JS project. It also uses Fabric: https://github.com/ja

[2015-10-09 20:05] jasonjoh commented on #10
It seems to be related to the interactions of prompts between the main generator and the subgenerator. I was playing with extending the mail subgenerator and added another prompt in the sub (./mail/index.js). The stop disappeared. However my prompt was a checkbox prompt, and I couldn't interact with it. I moved it to the main generator (./app.index.js) and I could then interact with it. But the st

[2015-10-09 20:12] jasonjoh commented on #10
Ok, more info: If you remove the `askFor` function altogether from ./mail/index.js, the stop disappears. My guess is that because the prompts in that function are redundant with the prompts in the `askFor` in ./app/index.js, we're basically calling `this.prompt` with all disabled prompts (from the `when` clause), and maybe it requires you to hit enter?

So the question is why do we have another `a

[2015-10-09 22:40] martellaj commented on #39
It actually should be `/home/home.html`. The routing file is already in `appread`, but it's trying to find another `appread` directory. The same goes for the `appcompose`.

[2015-10-09 22:47] martellaj commented on #39
Fixed in PR #56.

[2015-10-10 08:55] jthake commented on #10
Gonna sit with @andrewconnell and work through this one...

[2015-10-10 11:48] andrewconnell commented on #48
Hmmm.... this PR only fixed the mail addin & doesn't include any tests to verify the image file was correctly added to the target source by the generator. What about task pane & content pane addins?

As a general practice, IMHO fixes that should be global to all addins (such as this one) should not be added to **master** & published to NPM until the change is implemented in all relevant addins & i

[2015-10-10 11:48] #24 closed

[2015-10-10 11:48] jthake commented on #48
@MrPiao are you ok to update the task and content pane ones and add the test coverage?

[2015-10-10 11:55] andrewconnell commented on #36
Yup... that's a bug. Need to [index.js#L465-L491](https://github.com/OfficeDev/generator-office/blob/master/generators/mail/index.js#L465-L491) so it checks which one you've selected.... also need to update the tests so they ensure only the correct stuff is added.

[2015-10-10 11:56] jthake opened #57 "HighResolutionIconUrl has to be https not caught by validate-xml"
The new validate-xml feature does not catch the error that HighResolutionIconUrl  has to be https

<span class="_opc_2" tabindex="0">This app can't be installed. The value of the HighResolutionIconUrl attribute, 'http://dev.office.com', contains an unsupported URL. You can only use https:// URLs..</span>

[2015-10-10 11:58] andrewconnell commented on #37
VSCode doesn't respect XSD's for IntelliSense unfortunately.

[2015-10-10 11:58] #37 closed

[2015-10-10 11:58] #39 closed

[2015-10-10 11:59] jthake opened #58 "Manifest file name based on project name"
Rather than call every manifest "manifest.xml" actually create file name as "<project-name>-manifest.xml". Makes it useful when having a shared network folder for a Trusted add-in catalog on a local machine when testing in Office Windows client.

[2015-10-10 11:59] andrewconnell commented on #41
Yup, good call.

[2015-10-10 11:59] andrewconnell commented on #40
Yup, good call

[2015-10-10 12:15] andrewconnell commented on #54
Actually this won't work reliably. There's a conflict with `office.js` and angular where the clobber each other on load. Sometimes it works, but other times it doesn't so the safest way to get an angular app loaded is to manually bootstrap it as we do [here in a mail addin](https://github.com/OfficeDev/generator-office/blob/master/generators/mail/templates/ng/appread/app.module.js#L21).

In additi

[2015-10-10 12:23] andrewconnell commented on #58
You saying to literally call it `-manifest.xml`... simply prefix with a hyphen?

So when you reference a shared folder on the network for the Trusted Add-in Catalog, you can't name them `manifest.xml`?

[2015-10-10 12:25] jthake commented on #58
If you have two manifest files in your Trusted Add-in Catalog (local shared folder) you can't obviously have them with teh same file name in your local drive.

yep...I think its nice to have -manifest on there just so its obvious what the file is and not just an xml file.

[2015-10-10 12:26] andrewconnell commented on #55
I like it... curious to see your fork & the changes...

[2015-10-10 12:29] jthake commented on #55
I see what you did there... ;-)

[2015-10-10 12:35] jthake commented on #55
I would suggest maybe we add another question in the generator that asks whether you want demo code in the scaffolding or not. I think the ONLY real way to keep this clean is to have some special file alternatives (maybe a file prefix?) inside the mail\templates\ng\ and mail\templates\html\ .

e..g right now in \mail\templates\html\appcompose\home\home.html is the only file that has a change for a

[2015-10-10 12:37] andrewconnell commented on #50
To answer your first question, yes it is possible to run a private instance of the generator. Debugging and running your generator is documented... by Yeoman: http://yeoman.io/authoring. @waldekmastykarz has provided the basic steps here as you need to uninstall the public one and install your local one.

The `run-yo` gulp task is designed to be used with Visual Studio Code as it can fire up a gul

[2015-10-10 12:44] andrewconnell commented on #49
The change won't work for people who do not install NPM global modules in the default location for a stock node install. This is actually quite common to avoid the admin permission prompt when installing addins globally.

[2015-10-10 12:46] andrewconnell commented on #42
I like the approach provided this is a new tech option and not a change to the existing angular tech option. Want to take it on @waldekmastykarz >

[2015-10-10 12:53] andrewconnell commented on #58
Would it be better to default to the same name as the project name you gave it? We could use the same logic we use to create the name in the `package.json` or `bower.json` file so it's all lowercase & spaces are replaced with hyphens

[2015-10-10 12:56] andrewconnell opened #60 "Update reference to Office UI Fabric to 1.1"

[2015-10-10 12:59] andrewconnell commented on #55
If we were adding sample code & content, I'd suggest we have a whole different subgenerator... so it would be mail, but mail-sample or taskpane-sample.

Personally I'm not much of a fan of adding sample code to the existing generators as it starts to Visual Studio-ize this project where VS uses the model of File=>NewProject=>F5 and you see stuff working. You end up having to pull this out.

This a

[2015-10-10 13:06] jthake commented on #55
After discussing this in person with @andrewconnell . In actual fact, we are going to strip out all the sample code. The reality is that it'll just mean branches for each template. If people really want o see add-in commands they can clone your project @jasonjoh . Just looking at the manifest in the demo project....its just too much stuff to keep a project clean from scaffolding.

[2015-10-10 13:07] jthake commented on #58
oh yes....sorry maybe I wasn't clear on that. Yes we use the proejct name that was asked as first question for the prefix to file name.

[2015-10-10 13:19] jthake commented on #42
Let do it like how the angular generator has controller generators. check out script-base.js https://github.com/yeoman/generator-angular/blob/master/script-base.js
we can just have placeholder comments that file i/O can find and inject needed code.

[2015-10-10 13:20] MrPiao commented on #48
Ah, I didn't even think about the other add-in types. Call it a side effect of working on the Outlook team :D

I should be able to do this for task pane/content add-ins. I can also add the tests - really should've done in the first place :)

[2015-10-10 13:29] andrewconnell commented on #55
+1

[2015-10-10 14:18] andrewconnell commented on #57
hey @waldekmastykarz you want to look into this since you added the functionality?

[2015-10-10 14:19] waldekmastykarz commented on #57
Sure! Would a simple string comparison do?

[2015-10-10 15:35] waldekmastykarz commented on #36
I believe we would also need to generate the correct `Form` elements in the `manifest.xml` file so that we include `ItemRead` and `ItemEdit` forms only if applicable.

[2015-10-11 09:50] waldekmastykarz commented on #58
I would suggest using the project name as a suffix, ie. `manifest-my-addin.xml`. That way it would be easier to find the manifest file between all the other project files.

[2015-10-11 17:48] waldekmastykarz commented on #42
Sure!

[2015-10-11 19:14] andrewconnell commented on #58
@jthake ... thoughts? This is easy to implement...

[2015-10-11 19:58] andrewconnell commented on #48
@MrPiao So the fact the PR with this one in #53 causes an issue because it blocks us from merging in other open PR's. We don't want to include the code in #53 until it's really complete...

So when I merge the other PR's in, I'm going to back out the changes that were merged in in PR #53 and ask you resubmit them when you have the task pane, content addin & tests to make this more complete.

Cool?

[2015-10-11 21:10] jasonjoh commented on #55
My sample covers all of the cases (mail and appointments, read and compose for both, all 3 command types), so yeah, it's pretty big. The changes I've made so far allow you to pick and choose, and it doesn't get too bad. I'm fine with making this a different subgenerator or something. I could even include it as an add-on for yo office maybe, though I'd need to look into how you extend a generator v

[2015-10-11 23:40] MrPiao commented on #48
Cool

Alex Park
alexpark.info<http://alexpark.info>
@AayPizzle
________________________________
From: Andrew Connell <notifications@github.com>
Sent: Sunday, October 11, 2015 12:58:30 PM
To: OfficeDev/generator-office
Cc: Alex Park
Subject: Re: [generator-office] HighResolutionIconUrl invalid on creation (#48)

@MrPiao<https://github.com/MrPiao> So the fact the PR with this one in #53<https://gith

[2015-10-12 03:47] Ricalo commented on #54
I saw that behavior in task pane and mail apps.
It's good to see that you've figured a way to load the app. I'll do some more testing during the week.

[2015-10-12 08:09] #38 closed

[2015-10-12 08:10] #57 closed

[2015-10-12 08:10] #36 closed

[2015-10-12 08:53] #60 closed

[2015-10-12 09:05] #41 closed

[2015-10-12 09:06] #40 closed

[2015-10-12 09:07] #54 closed

[2015-10-12 09:56] jthake commented on #58
yes i see what you mean around having manifest first then the project name. good idea. Ship It1

[2015-10-12 11:52] andrewconnell commented on #55
I'd like for @jthake to make a call here...

@jasonjoh what we discussed was to have the generator follow what other generators do and only build the scaffolding for the project, not a lot of stuff that you then have to go clean out or modify. The fear is that adding samples is going to start turning this generator what it wasn't supposed to be: the xplat version of VIsual Studio templates.

My co

[2015-10-12 12:01] andrewconnell commented on #43
I want to punt this to @jthake ... to me this isn't an Office thing, rather it's a web app that talks to Office 365... but it needs AAD. So it would make more sense to me in a theoretical `yo azure` generator rather in Office. I think that's where @jthake stands, but let him comment...

[2015-10-12 20:30] jthake commented on #43
no i totally think that this could be a yo office thing...its' office 365 api's. it'd be nice if this could be run not to just generator a standalone web application though. also if it could configure up a office add-in too. may be as a sub generator some how?

[2015-10-12 20:40] jthake commented on #55
@jasonjoh  we are all in Amsterdam right now and discussing this. Essentially i think having VS Code snippets or even working out how we can use an XSD to get intellisense when building the manifest (and not just when coding it) would be awesome. What is the risk if the VersionOverrides scaffolding is simply not filled out...will it pass the new manifest tests that @waldekmastykarz has built into

[2015-10-13 08:27] waldekmastykarz commented on #43
For the add-ins would it work the way we discussed it in #42?

[2015-10-13 08:28] waldekmastykarz opened #66 "Add help for the different gulp tasks"
Since we're now having multiple gulp tasks, how about we added help to make it easier to use them?

[2015-10-13 08:30] waldekmastykarz commented on #58
When building this should we take into account the manifest name set by default in the `validate-xml` gulp task? By default it uses `manifest.xml` which initially made it easy to validate the manifest by simply calling `$ gulp validate-xml`. With this change the developer would either need to pass the manifest file name every time to the task or we would need to change the default manifest file in

[2015-10-13 08:33] waldekmastykarz opened #67 "Simplify bootstrapping add-ins"
I believe we could simplify bootstrapping the add-in by removing jQuery from `app.module.js` and slightly changing the HTML structure in `index.html`.

[2015-10-13 08:45] andrewconnell commented on #58
@waldekmastykarz good point... I'll tweak the validation to look for `manifest-*.xml`

[2015-10-13 08:58] andrewconnell commented on #43
@jthake this would be it's own subgenerator so you could run it directly with `yo office:aadweb` or something like that

I'd like to take one more stab at keeping this out of this generator... feel free to shoot me down:

Today this is focused on client-side solutions, such as Office Addins. The technology options are HTML / Angular. If we go with creating a web app that's going to talk to Azure A

[2015-10-13 08:58] andrewconnell commented on #43
@waldekmastykarz no... none of the other subgenerators for creating addins really apply to this...

[2015-10-13 09:08] waldekmastykarz commented on #43
@andrewconnell with the reference to #42 I meant that we implement ADAL support for add-ins as a separate technology next to Angular, HTML and manifest only. Web apps are a whole different thing.

If the advised way of developing on O365 is developing off the box, wouldn't it mean that in the future more folks will start building web apps? Theoretically these web apps could be client-only living a

[2015-10-13 09:25] andrewconnell commented on #51
I've tried this using node v4.1.2 on both OSX & Windows 8.1 with the app having a space in the folder name & not having a space... can't repo.

The problem looks to be rooted in that it didn't do the pathing correct to `.bowerrc` rather it missed the `\` after `src` and thus, looked for a `src.bowerrc` file... which makes sense why bower blew up. Can you verify the `.bowerrc` file was created in t

[2015-10-13 09:45] #49 closed

[2015-10-13 09:47] andrewconnell commented on #49
Merged into **dev** in PR #68

[2015-10-13 09:51] andrewconnell commented on #66
All you :)

[2015-10-13 09:52] andrewconnell commented on #67
Go for it

[2015-10-13 11:25] waldekmastykarz commented on #66
I meant the tasks in the generated `gulpfile.js` rather than the generator itself. Initially it was only `serve-static` but now we also have `validate-xml` which can be called with some parameters. Unfortunately when adding the task we haven't added any documentation.

[2015-10-13 11:26] waldekmastykarz commented on #67
Aye sir!

[2015-10-13 13:25] waldekmastykarz commented on #58
One more place where we will need to include this are tests which currently also refer to `manifest.xml`.

[2015-10-13 14:18] andrewconnell commented on #66
Ah… ok go for it

[2015-10-13 18:18] waldekmastykarz commented on #40
There are stil a couple of script references with the `type` attribute specified in https://github.com/OfficeDev/generator-office/blob/99362c30bf03bb19684ed9e807e13a544c10de61/generators/mail/templates/ng/appcompose/index.html#L36-L39

[2015-10-13 19:41] waldekmastykarz commented on #67
I'll wait with fixing this issue until we get the fix for #42 in place. That way we can do it all at once both for Angular and Angular ADAL.

[2015-10-13 19:56] waldekmastykarz commented on #66
In the generator we're using the **taskhelp** package to list all available tasks. For the generated gulpfile.js this wouldn't add that much value since we only have two tasks.
What I had in mind though was to document how to use the **validate-xml** task since it accepts parameters. One way to do that would be to use for example https://www.npmjs.com/package/gulp-help instead which is able to lis

[2015-10-15 16:16] andrewconnell commented on #66
Nah… if you want feel free to implement this.

[2015-10-15 16:16] andrewconnell commented on #67
Sounds good

[2015-10-15 16:17] andrewconnell commented on #40
Fix it :)

[2015-10-15 16:37] waldekmastykarz commented on #66
Let's keep it as-is then. Should the generated gulpfile.js grow in the future we can always decide to revise this issue.

[2015-10-15 17:35] waldekmastykarz commented on #66
Got a second thought: currently the **validate-xml** task accepts two parameters: *resultsAsJson* and *xmlfile*. The *resultsAsJson* parameter has been added to support the unnecessary unit tests. When you implement #58 we won't be also needing the *xmlfile* parameter. Removing them will simplify the task removing the need for an extended help. A simple listing, just as the one we're having in the

[2015-10-15 20:13] andrewconnell commented on #66
What's the action here? I'm lost...

[2015-10-15 23:44] martellaj opened #70 "Make localhost "safe""
I'm unfamiliar with SSL certificates and the like, but is there anyway to make the server started by Gulp "safe"? Unless you go to the index.html page in a browser and accept that it's unsafe, the Add-in fails to render. There might be no way around this, but it would be nice to not have to explicitly have to give instructions to go and accept the SSL certificate in our READMEs for samples and stu

[2015-10-16 00:25] engreimor commented on #70
the support for local development is currently horrible, I hope microsoft fellows work this out.

[2015-10-16 00:28] engreimor commented on #70
i was stuck for about an hour with this. The only workout was to export the stub certificate created by gulp to a file (using chrome/export certificate) and manually registering the .cer file to the system. Additionally I created and shared a folder to myself (yeah, that is awkward), to put the manifest.xml generated by generator. That was the only way I figured out to the addins to show up on men

[2015-10-16 00:52] martellaj commented on #70
We're talking about 2 different things. I'm talking about serving apps on localhost for Outlook add-ins. No need to export any certs there. @andrewconnell, any ideas? Would be nice to have a better solution before AngularConnect (if even possible).

[2015-10-16 03:46] jasonjoh commented on #55
Having an empty VersionOverrides will not break anything. Old clients will ignore it and newer clients should fall back to the old stuff. I'd have to test. What new manifest tests are we talking about, are they in the current version?

[2015-10-16 03:55] waldekmastykarz commented on #66
Sorry: let's add `gulp help` to the generated **gulpfile.js** files the same way we have it for the **gulpfile.js** of the generator.

[2015-10-16 09:38] andrewconnell commented on #70
Nope... no way around this without buying a legit cert that I'm aware of. Office won't load addins from non-HTTP endpoints... it will only load from HTTPS. The only way to do this is to have a cert that your browser trusts. The easiest way to do this is to use self-signed certs, but the cert isn't in your trusted cert chain so the browser doesn't see it as legit.

The other option would be for a d

[2015-10-16 09:38] #70 closed

[2015-10-16 09:39] andrewconnell commented on #66
ok... are you doing this?

[2015-10-16 09:40] andrewconnell commented on #50
Closing due to lack of follow up. Feel free to reopen.

[2015-10-16 09:40] #50 closed

[2015-10-16 09:40] waldekmastykarz commented on #66
Will do!

[2015-10-16 09:40] andrewconnell commented on #51
Closing due to lack of followup. Feel free to reopen if you have further info.

[2015-10-16 09:40] #51 closed

[2015-10-16 09:42] andrewconnell commented on #43
I don't think we can make the assumption that *the advised way of developing on O365 is developing off the box*... IMHO this generator shouldn't go with what the marketing wants rather what people are doing.

[2015-10-16 09:42] #43 closed

[2015-10-16 09:51] andrewconnell commented on #10
@jasonjoh The reason we dupe the `askFor` question is if someone runs the subgenerator directly. You can call the default subgenerator **app** which simply acts as a router of sorts by using `$ yo office`. Based on what you question answers are in the prompts, it calls another subgenerator. For instance all these are valid:

[code]

So you can't just remove the `askFor` from the subgenerators... i

[2015-10-16 09:58] #42 closed

[2015-10-16 13:17] waldekmastykarz opened #73 "The gulp validate-xml task throws an exception"
When running the `$ gulp validate-xml` task you get the `TypeError: undefined is not a function` error. This has to do with the fact that the xml is passed to the icon validation function as a string buffer rather than a string. Let me get that fixed.

[2015-10-16 16:53] martellaj commented on #70
That's what I assumed, but figured I'd call it out and hope for the best. Thanks for the informed response.

[2015-10-16 18:58] jasonjoh commented on #10
Ah ok, I figured it must be something like that. Well that blows my easy fix :)

[2015-10-18 08:28] waldekmastykarz commented on #67
If we apply the modifications we won't be needing jQuery anymore, unless you want to use some Office UI Fabric components. How about we leave the jQuery reference in https://github.com/OfficeDev/generator-office/blob/master/generators/taskpane/templates/ng/_bower.json#L6 but comment it out in https://github.com/OfficeDev/generator-office/blob/master/generators/taskpane/templates/ng/index.html#L9 s

[2015-10-18 11:05] andrewconnell commented on #67
Personally, if its not used, I’d remove it all together. Leaving commented code in starter templates always makes me wonder if that was left by mistake. People can add it quite easily if they want it.

And you don’t need jQuery if you use fabric… you only need it for some of the components, not all.

[2015-10-18 12:47] waldekmastykarz opened #75 "Log exception when one of the tests fails"
When one of the tests in `$ gulp test` breaks at the end you get the following error:

[code]

Shouldn't https://github.com/OfficeDev/generator-office/blob/master/gulpfile.js#L129 be referring to the function defined in https://github.com/OfficeDev/generator-office/blob/master/gulpfile.js#L113 (so calling `log` rather than `$.log`)?

[2015-10-18 13:48] waldekmastykarz opened #77 "The generator overwrites existing tsd.json"
When the generator is run on an existing project, the existing **tsd.json** file is overwritten. We should support updating existing **tsd.json** the same way we do it for the **bower.json** file.

[2015-10-18 17:10] waldekmastykarz opened #79 "Including additional Gulp tasks to support releases & deployment"
@andrewconnell, @jthake: What do you guys think about including additional Gulps tasks in the generated gulpfile.js to support releases, such as copy the add-in files to be deployed to a separate folder (eg. dist), minifying scripts and CSS and bumping the version number in the manifest.xml and package.json? How about taking a look at the ability to upload the manifest.xml to the App Catalog? The

[2015-10-18 17:24] waldekmastykarz opened #80 "Change names of the generated Gulp tasks to follow the naming convention"
It seems like Gulp tasks follow the naming convention where a main task is a single word and a sub task consists of multiple words separated by a - or a :. In our case case the generated gulpfile.js files contain tasks such as **serve-static** and **validate-xml**. Shouldn't we have main tasks called **serve** and **validate** to call the existing sub tasks? We could either rename the existing tas

[2015-10-18 18:27] waldekmastykarz commented on #55
There is quite some markup that goes into each one of these buttons. I can imagine how helpful would it be to have all of it generated, particularly when working with editors which don't offer intellisense for manifest.xml.
I don't have that much experience with add-in commands yet, but what if we could have a proper scaffolding (so not sample code but real XML that is a part of the add-in's funct

[2015-10-19 14:07] andrewconnell commented on #55
I like that approach @waldekmastykarz. My understanding (correct if I'm wrong @jasonjoh / @jthake) is that addin commands will come to all the clients, not just mail, so having this as a seperate thing that adds the markup for a sample addin command to an existing project might be a nice option.

[2015-10-19 14:25] andrewconnell commented on #79
As for more gulp tasks that are in the `gulpfile.js` that gets added to the generated addin project, I'm good with that... definitely good options.

As for uploading... that's not that easy. @jthake and I looked into create an Office 365 command line tool, similar to what we have with Azure's X-Plat CLI. The key feature we were going to build was the ability to upload it to the app catalog, among

[2015-10-19 14:26] andrewconnell commented on #77
Good observation

[2015-10-19 14:30] andrewconnell commented on #80
Is there a problem with what's there now or is it really just a naming convention?

If there's not a problem I don't think we should go changing stuff at this time... just my opinion.

[2015-10-19 15:42] waldekmastykarz commented on #80
It's just the naming convention. Had to work around it for building the help for the generated files but it's okay for now. We can pick it up some other time.

[2015-10-19 17:08] waldekmastykarz commented on #79
Cool! I'm very curious about the CLI tools. It would be great to have these but even a small thing such as the ability to upload the manifest to the App Catalog would be very helpful.
What do you think about creating a separate issue for each task so that we can discuss and track them more easily?

[2015-10-20 12:53] andrewconnell commented on #79
That’s how it should be… in a non-threaded forum like this, each issue should be treated separately… not all at once.

[2015-10-20 12:54] #80 closed

[2015-10-20 16:13] waldekmastykarz commented on #79
Let's close this one then and create separate issues for the different ideas.

[2015-10-20 16:13] #79 closed

[2015-10-23 08:50] waldekmastykarz opened #81 "Add a subgenerator for adding new views for Angular/Angular ADAL add-ins"
@andrewconnell, @jthake: do you guys think it would be useful to have a subgenerator that adds new views (view + controller and perhaps route registration to app.routes.js) to Angular and Angular ADAL add-ins? I know it's quite common to have SPAs with multiple views but I wonder how useful would that be for add-ins.

[2015-10-23 23:11] jthake commented on #55
That is correct. add-in commands will eventually come to all Office products (Excel, PowerPoint, Word) like they are already in Outlook.

[2015-10-24 07:00] waldekmastykarz commented on #55
Any suggestions which control would be the best to implement first @jthake?

[2015-10-27 19:32] #81 closed

[2015-10-27 19:39] andrewconnell opened #82 "Add Office TypeScript Type Definition to Project"
https://github.com/borisyankov/DefinitelyTyped/tree/master/office-js

ties in closely with #77

[2015-10-28 10:10] #82 closed

[2015-10-28 10:16] andrewconnell commented on #82
Merged in #83

[2015-10-28 10:59] andrewconnell commented on #77
Fixed in #84

[2015-10-28 10:59] #77 closed

[2015-10-28 11:07] andrewconnell commented on #75
This is an error, but it shouldn't call the local function `log()` because that writes out a successful message in blue all the time. It just needs to call the `$.util.log()` function instead.

[2015-10-28 11:07] andrewconnell commented on #75
Fixed in #85

[2015-10-28 11:07] #75 closed

[2015-10-30 13:21] waldekmastykarz opened #86 "Add reference to /typings/tsd.d.ts in .js files"
Generated projects have the **tsd.json** file setup with references to Angular and Office typings. It would be helpful to include the reference to the **/typings/tsd.d.ts** file in all .js files so that developers can benefit of intellisense even if they're coding in plain JavaScript.

[2015-11-03 11:51] ashuetawah opened #87 "readline.js error during command execution"
I just setup the Yo and getting the error. Any pointers for fixing? I am running it on Win10 Pro.
![image](https://cloud.githubusercontent.com/assets/11130627/10907329/3a9bc618-827d-11e5-9a9b-55d7a5b300c5.png)

[2015-11-05 20:42] martellaj opened #88 "Change references to old Office.js to new one"
Right now, it looks like all of the projects reference "//appsforoffice.microsoft.com/lib/**1.1**/hosted/Office.js", but the correct link should be "//appsforoffice.microsoft.com/lib/**1**/hosted/Office.js". The 1.1 link is now the "old" link, while the "1" link will be getting the new stuff.

[2015-11-06 15:22] andrewconnell commented on #87
What version of node? What version on NPM? Can you run other yeoman generators?

[2015-11-06 22:01] andrewconnell commented on #86
Actually what we need is to add a `tsconfig.json` to the root of the project that's created because editors will see that and automatically load all `*.ts` and `*.d.ts` files into memory so you don't have to do it. I thought we did add it... but looks like not... I can do this as I'm adding working on a bug fix update this weekend.

[2015-11-06 22:02] waldekmastykarz commented on #86
Cool! Thanks!

[2015-11-07 20:49] #86 closed

[2015-11-07 20:51] #88 closed

[2015-11-08 00:08] #58 closed

[2015-11-08 12:41] ashuetawah commented on #87
node - 4.2.1
npm - 3.3.10
I did not try other yeoman gen.

just got different error.
![image](https://cloud.githubusercontent.com/assets/11130627/11020374/35c600ec-8672-11e5-8e47-85b0c06abc4e.png)

[2015-11-08 17:02] andrewconnell commented on #87
The error indicates you don't have GIT installed... that appears to be a requirement for the NPM module Which that the generator uses. Can't repo this on a Windows machine that has GIT installed... if you could also try other generators and after you've installed GIT.

[2015-11-08 17:02] #87 closed

[2015-11-09 13:15] jthake opened #92 "Install instructions assume pre reqs"
AS the generator is targeting now just people familiar with yeoman but also those new to it. I think we should add the prereqs like the Visual Studio Code page does https://code.visualstudio.com/docs/runtimes/office

Right now it doesn't even mention that you need git and node installed on your desktop.

[2015-11-09 21:14] stefanreimers opened #93 "Installation issue due to tsd error with process-nexttick-args"
When running

npm install -g bower yo generator-office gulp tsd

I got an error saying

Cannot find process-nexttick-args.

To avoid this error I ran the above npm install without generator-office which worked fine. Afterwards running

npm install -g generator-office

gave me the same error. See the log:
C:\Projekte>npm install -g generator-office

office

[ERR!] cwd  : C:\Program Files\nodejs\nod

[2015-11-10 12:04] CodeMoggy opened #94 "Validate Manifest Xml"
Could the Gulp task to validate the manifest xml include validation for Command Add-ins?

[2015-11-10 12:12] CodeMoggy opened #95 "Include a Gulp task to serve static and Node.js"
Include a Gulp task to serve static (client) and Node.js content. For the purposes of our project we created the following task:

var nodemon = require('gulp-nodemon');
gulp.task('serve-nodejs-static', function () {
  nodemon({
    script: 'source/server.js',
    ext: 'js html',
    env: { 'NODE_ENV': 'development' }
  });
});

[2015-11-10 12:24] CodeMoggy opened #96 "Localhost SSL certificates - install by permission"
The user experience when developing locally at https://localhost:8443 is not good due to certificate errors. Could the creation and install of a self-certificate be included as part of the yo office wizard - the user would need to confirm that the certificate can be installed in their trusted authority store, it should be off by default.

[2015-11-10 12:27] CodeMoggy opened #97 "Add support for Outlook Command-add-ins"
As part of the yo office wizard could there be an option to include support for Command-add-ins? If not as part of the wizard could a secondary manifest be generated showing what is required to develop the add-in as a command?

[2015-11-10 14:51] jthake opened #98 "Latest version of geneartor requires TSD"
In the readme we do not mention the requirement of TSD. It is required for install to work properly. Need to add it to "npm install -g" statement.

[2015-11-10 16:04] andrewconnell commented on #94
Yup... We are currently doing two types of validation. The first type is up using the XSD defined on MSDN... So when it's updated to include command Addins, we will update our XSD as well which should cover it.

In addition we are also validating for specific nodes that's are required when submitting to the store like the highresicon.

[2015-11-10 16:04] #94 closed

[2015-11-10 16:05] andrewconnell commented on #97
Dupe #55

[2015-11-10 16:05] #97 closed

[2015-11-10 16:07] andrewconnell commented on #95
We already have the task **serve-static**. I don't think we want to add any over dependencies like nodemon upon folks... They can certainly add it to their own projects though like you have. fwiw I add nodemon and node-inspector in my gulp tasks but I don't think it's right to force that on everyone

[2015-11-10 16:07] #95 closed

[2015-11-10 16:12] andrewconnell commented on #96
We looked into it... This isn't as easy as it sounds. Anything like this really needs to work across all platforms as this is an xplat solution. The gulp plugin we take a dependency on already has a cert that you can trust once on a machine and you're good. The docs include instructions on how to do this.

Creating a self signed cert for every addin is not an approach we want to promote... One sel

[2015-11-10 16:12] #96 closed

[2015-11-10 16:16] andrewconnell commented on #92
Associated with #98 ... Will look at refactoring, cleaning up and doc'ing the getting started experience.

[2015-11-10 19:23] jthake opened #99 "manifest file name based on project breaks validate-xml"
Now that the manifest name is dynamic, validate-xml breaks because its looking for manifest.xml. @waldekmastykarz  @andrewconnell

[2015-11-10 20:19] waldekmastykarz commented on #99
Shall I fix it @andrewconnell or do you want to pick it up?

[2015-11-11 10:56] andrewconnell commented on #99
It's not "broken"... it doesn't assume the XML file you want to test. It requires you to pass in an option that specifies the file you want to test (in case you have multiple in the same folder.

Ref: https://github.com/OfficeDev/generator-office/blob/master/generators/content/templates/common/gulpfile.js#L40

[2015-11-11 11:08] jthake commented on #99
Is there a way to run a help command that gives more information on the gulp task to make that more obvious? and also add this to the readme page too then?

[2015-11-11 12:26] andrewconnell commented on #99
As is now? No... generally people just comment gulp tasks using JSDoc (which we've done... granted the `validate-xml` task could use some additional comments explaining usage).

An enhancement could be done to use the [gulp-help](https://www.npmjs.com/package/gulp-help) plugin, but requires rework of our gulp tasks (should be done to the generator & generated projects. You can see an example of th

[2015-11-11 13:15] waldekmastykarz commented on #99
We could also fix the default behavior to look for `manifest-*.xml` files and validate them as discussed in https://github.com/OfficeDev/generator-office/issues/58#issuecomment-147646915

[2015-11-11 13:48] andrewconnell commented on #99
Right that's what I changed it to... To require dev to pass it in. That's not a big deal IMHO...

[2015-11-11 13:58] waldekmastykarz commented on #99
Check. I thought the task would automatically look for any `manifest-*.xml` files if no specific filename has been passed. It's okay if it doesn't but then it would be better if the task failed with a clear error showing an example of the filename should be passed to the task.

Using gulp-help would be definitely a good way of documenting the different tasks particularly the ones that accept param

[2015-11-11 14:12] andrewconnell commented on #99
Let's not have multiple discussions in this thread... Two issues discussed here.

Can add an enhancement for the task to try to find a manifest in the current folder... Personally I don't like this because what if the manifest is in a sub folder? Can run gulp from the sub folder... So I'd require you pass a path to it.

As for gulp-help issue, spin up another issue as an enhancement to the generat

[2015-11-11 19:02] waldekmastykarz opened #100 "Add documentation for gulp tasks using gulp-help"
As the number of gulp tasks and their complexity increases it would be helpful to have documentation that not only lists the available tasks but also shows the different parameters that can be used if applicable. We could do this for both generator's and generated tasks using gulp-help.

[2015-11-11 19:04] waldekmastykarz opened #101 "Add dist task"
Add a `dist` gulp task to the generated `gulpfile.js` file that copies all files necessary to run the project in production to the *dist* folder.

[2015-11-11 19:06] waldekmastykarz opened #102 "Add minify/uglify task to dist"
When running the `dist` task as mentioned in #101 add support for minifying/uglifying script and css files to be deployed in production.

[2015-11-12 03:56] LanceEa opened #103 "Issue Installing generator on OS X"
I'm getting an error when trying to install the yo generator on OSx.
I run `sudo npm i -g generator-office` and I get the error below.

<img width="572" alt="screen shot 2015-11-11 at 10 53 12 pm" src="https://cloud.githubusercontent.com/assets/8103374/11110224/3e2c6508-88c7-11e5-84b9-26d4fc6dc8ab.png">

[2015-11-12 10:25] andrewconnell commented on #103
Do you have `tsd` installed globally?

[2015-11-12 12:52] LanceEa commented on #103
Yeah I have installed globally. As you can see I'm running version 0.6.5

<img width="575" alt="screen shot 2015-11-12 at 7 36 36 am" src="https://cloud.githubusercontent.com/assets/8103374/11118487/3301c940-8910-11e5-880d-fcb4f3c3efa0.png">

I also checked to make sure the folder and file existed. It does and you an see that I have user Read/Write permissions. I was able to open the file in Visua

[2015-11-12 13:23] LanceEa commented on #103
Some other things that I have tried but no success:
1. Changed permissions on file to 777 which is full access to anyone (not ideal but just wanted it to work)
2. Changed ownership to "lance" and set group to "admin" per this Yo issue on Github https://github.com/yeoman/yeoman/issues/1097
3. Delete file from directory
4. Tried the famous windows restart on a Mac

None of these seemed to work...not

[2015-11-12 13:44] andrewconnell commented on #103
Have you tried to run TSD reinstall on it's own? Try this... uninstall the office generator if you haven't already installed it (verify it's not listed when you run `npm list -g --depth=0`). Then try cloning the repo locally straight from github, then run the tsd reinstall from the root (you can find the command [in this line on the package.json](https://github.com/OfficeDev/generator-office/blob/

[2015-11-12 20:04] LanceEa commented on #103
I was able to install the 0.5.0 version and it worked like a charm. Let me know if you would like I can try the other approach as well to see if that would fix it too?

*Side Note* - I'm new to Open Source but would like to start getting more involved so let me know if there is anything specific you might like help on.

[2015-11-12 20:23] andrewconnell commented on #103
OK... then that's a bug in automatically running **tsd** on install... that will get removed in the cleanup... thanks for working with me on this.

As for getting involved, best way to do it is to check the repo's issue list and look for the **[help-wanted](https://github.com/OfficeDev/generator-office/labels/help-wanted)** tag. Those are items we want in the generator but have no one working on t

[2015-11-12 20:25] andrewconnell commented on #93
Pretty sure this is a dupe issue as bugged in issue #103... can you try to mitigation steps there and let us know if that fixes it? if not, feel free to re-open the issue.

[2015-11-12 20:25] #93 closed

[2015-11-12 20:50] stefanreimers commented on #93
The link to #103 was very helpful. Installing an older version of tsd does the trick (0.6.0 works for me).

[2015-11-15 11:29] andrewconnell commented on #103
Fixed in 57fd8c721d16a11c4ee8f7ceaa3c730753bb1baf

[2015-11-15 11:29] #103 closed

[2015-11-15 11:42] andrewconnell commented on #98
Fixed in 57fd8c721d16a11c4ee8f7ceaa3c730753bb1baf /cc #103

[2015-11-15 11:42] #98 closed

[2015-11-15 12:16] andrewconnell commented on #92
Fixed in a1c884adfcf119cdd2d7a270256bfca037d7d5fc

[2015-11-15 12:16] #92 closed

[2015-11-19 13:03] alexkieling opened #107 "Generated manifest doesn't show up in catalog"
The following optional element doesn't have a valid value and is causing the app to not show up in the catalog for installation:
[code]
I would like to suggest this element to be removed or generated with a valid value. I understand the value is supposed to be changed, but it would be great if the generated manifest is 100% valid to avoid problems for beginners. Word doesn't indicate the issue, it

[2015-11-19 19:47] andrewconnell commented on #107
Would be nice to have all non-required elements removed... want to do it and submit a PR @alexkieling ?

[2015-11-19 19:59] alexkieling commented on #107
OK, I'll do it.

[2015-11-20 07:16] waldekmastykarz commented on #107
Although the **SupportUrl** is not required for deploying Office Add-ins to your own App Catalog, it is required if you would like to publish your Add-in in the Office Store (https://msdn.microsoft.com/en-us/library/office/jj220035.aspx). If we just removed all optional properties it would mean that developers who want to publish their Add-ins to the Office Store will get a few surprises.

What if

[2015-11-20 11:19] alexkieling commented on #107
We could keep it commented out, like this:
[code]

[2015-11-20 14:44] andrewconnell commented on #107
I prefer to have the generator only include the absolutely required properties, but yes having a task that could validate for store submission would be nice. I don’t think the majority of add-ins are going to be submitted to the store so we shouldn’t have that be the default.

[2015-11-20 14:46] waldekmastykarz commented on #107
OK, let's remove all optional parameters from the manifest and I'll add a new issue for new store validation task so we can track it separately.

[2015-11-20 14:47] waldekmastykarz opened #108 "Add a new gulp task to validate the manifest for store publishing"
Add a new gulp task in the generated gulpfile.js to validate the manifest for all information required to publish the add-in in the Office Store.

[2015-11-24 22:02] andrewsa commented on #55
@jasonjoh @andrewconnell @jthake Hey guys, JasonJ and I were just going thinking through yo office some more. I think what we really need to do is modify the yo office generator itself. The problem is that the question it's asking about Outlook - "Which form do you want?" - is no longer applicable, nor the main question we want developers to think about, when building an add-in. The right question

[2015-11-24 22:31] andrewconnell commented on #55
So instead of asking what kind of addin (mail / content / task pane) you ask this question?

Or are you saying instead of asking read / compose [mail | calendar] form, you ask this question?

How would this look if it was a content / task pane addin for Word / Excel / PowerPoint / etc?

[2015-11-24 22:38] andrewsa commented on #55
first you ask what kind of addin, then, if the user said "mail", you ask "Which extension points?" instead of "which forms?"

[2015-11-24 22:44] andrewconnell commented on #55
Am I correct in understanding that Word & Excel also support Addin Commands today? Or is it just Outlook?

If Word & Excel also support them, would they have the same sort of prompt?

[2015-11-24 22:47] andrewsa commented on #55
Word and Excel support it in "dev preview" today. Outlook supports it as of Office 2016 GA.

[2015-11-25 01:06] pretish commented on #55
And according to Humberto, word/excel has extension points like contextual menu, content pane etc. So the flow would work for them as well.

[2015-11-25 08:18] waldekmastykarz commented on #55
Also am I understanding it correctly that a single add-in might have multiple extension points so when asking for which extension points a dev wants, we should support multiple choices?

[2015-11-25 16:29] jasonjoh commented on #55
That's correct. I'm working on implementing the prompts, I'll post more details once I have a skeleton in place.

[2015-11-25 19:29] jthake commented on #55
If you guys want to write out here what the extension point questions would be in TOTALITY e.g. not just for Outlook but what they would look like for Outlook, Word, Excel, PowerPoint we can review as a team. Its hard to envisage this without that thinking.

I believe this is separate from this current thinking around add-in commands though. We can still have the subgenerator for add-in commands w

[2015-11-25 19:43] andrewsa commented on #55
well yes and no. You're right in that we can still have a sub generator for commands, which can generate manifests for word, excel, ppt or outlook.

But my point is that the main generator needs to change as well, as it's creating a legacy manifest now for outlook, instead of focusing on the new way of building add-ins. does that make sense?

[2015-11-25 19:46] jasonjoh commented on #55
Perhaps it would be helpful to think of it like this:

- existing `mail` generator is there to create the "old" stuff, which can be useful for add-ins that want to work with legacy clients
- new `commands` generator is there to either extend an existing legacy manifest, or to create a new blank manifest with only add-in command features.

We could then modify the `mail` generator to invoke `comman

[2015-11-25 19:49] jthake commented on #55
"legacy manifest"?...what do you mean by "the new way of building add-ins"? I'm concerned of the use fo "old stuff"...how different is it really? are there breaking changes between project scaffolding? I thought the manifest doesn't have to change that much.
maybe we need an additional question on whether they want to support "legacy clients" (you are talking about Outlook 2013 on Windows only her

[2015-11-25 20:14] andrewsa commented on #55
so the current "yo office" generator results in a mail add-in manifest, which places an add-in in either the grey horizontal bar, or behind the "apps for office" button in compose. that's legacy behavior, so anyone using it will go down the wrong path, as they won't even know that they can do commands. worse, they may build an add-in using this approach, submit it to the store and have their add-i

[2015-11-25 20:14] jasonjoh commented on #55
Here's my own definitions :)

- legacy client: Any client that doesn't understand the `VersionOverrides` element in the manifest (which is where add-in commands are defined). Right now that means anything other than Outlook 2016 on Windows, but that will change at some point.
- legacy manifest: All the stuff in the manifest outside of `VersionOverrides`.

So it doesn't really break the scaffolding

[2015-11-25 21:45] jasonjoh commented on #55
Ok, here's what I'm thinking for the prompt flow for the commands bit. This is assuming that it's called on its own. If it gets invoked from say the `mail` generator a lot of these prompts would already be answered.

- Office project type: (Outlook add-in, task pane, content)
- Root folder of project: (Default current directory)
- Relative path to manifest file (Default manifest.xml)
- Supported h

[2015-11-26 01:31] andrewsa commented on #55
Jason, this makes sense, but now i'm not clear why we wouldn't update the existing generator for this. why would we build a new one? that just sounds confusing - so which one should developers use?

[2015-11-26 03:32] jasonjoh commented on #55
I think doing it this way will make it easier for the taskpane and content generators to re-use the work. Developers will still use yo office, there's just another subgenerator that's called as part of the flow. It would be automatic.

[2015-11-29 17:08] waldekmastykarz commented on #101
Shall I pick it up together with #102?

[2015-11-29 17:08] waldekmastykarz commented on #102
Shall I pick it up together with #101?

[2015-11-29 17:10] waldekmastykarz commented on #108
Shall I pick it up?

[2015-11-29 17:10] andrewconnell commented on #102
makes sense since creating a distro folder involves creating a prod deployment which should be minified

[2015-11-29 17:10] andrewconnell commented on #108
makes sense since creating a distro folder involves creating a prod deployment which should be minified

[2015-11-30 11:28] #107 closed

[2015-11-30 23:39] jthake commented on #55
OK. As @andrewconnell had stated before. This work will not be accepted into the branch without it working for Word/Excel/PowerPoint scenarios as well...with 100% coverage. So we need to loop in the other engineering teams to make sure this gets covered as well as the Outlook scenarios.

[2015-12-02 00:56] jthake commented on #108
yes, as it appears that validation for store is more strict than for enterprise. having the option would be useful. how can we maintain the two rulesets easily though?

[2015-12-02 00:56] jthake commented on #102
I like this idea. ship it!

[2015-12-02 18:07] waldekmastykarz commented on #102
Already did #111 ;)

[2015-12-02 18:09] waldekmastykarz commented on #108
The idea that I had was to keep the existing `validate-xml` task intact and then add another one called `validate-forstore` or something like that that would validate the XML and then scan the additional rules.

[2015-12-03 13:13] jasonjoh commented on #55
I spoke with @andrewsa about this, and requiring it to work for all of the Word/Excel/PPT scenarios before we update the generator doesn't seem reasonable at this stage. They are still in preview right? Outlook support is GA'ed and commands are required by the store in a lot of cases, so it's important we can support this now for Outlook.

How about we can get this working for Outlook now (meaning

[2015-12-03 14:02] andrewconnell commented on #55
IMHO since they do work in the other clients I think it’s a reasonable request as people are going to ask for it. If the assumption by the users of the generator that it should be there and since MSFT Office group now has a habit of running stuff in preview for a while (which is good), I think support across the board should be there today.

With that being said, think @jthake gets the last call o

[2015-12-03 15:00] jasonjoh commented on #55
I'm not saying let's not add the support, I'm just saying don't gate this on getting 100% coverage. That seems like it's just going to delay adding the feature. Let's get this smaller scope in, then we can build on it.

[2015-12-03 15:06] andrewconnell commented on #55
I get what you’re saying, but I still stand by my POV that a official release includes all / none since add-in commands work in all apps

[2015-12-03 17:08] jasonjoh commented on #55
So maybe instead of an official release, we take a page from Office and release a "preview" that supports Outlook. :D

[2015-12-03 17:15] andrewconnell commented on #55
If NPM supported something like that then maybe… but the way I see others doing this is having a specific branch with explanation of how folks can get and globally install an NPM package from a specific branch in a repo rather than NPM.

If this the approach that’s adopted (again, I yield to @jthake to make the call) then let’s ensure coordination before you submit a PR because we’ll likely need a

[2015-12-03 19:20] jthake commented on #55
We've supported Outlook preview features in the yeoman generator in the past. Don't see the issue in not supporting Word/Excel/PowerPoint features too.
I get its extra effort and "not your team", but it'd be great if you could reach out and work with the other client teams to make this happen correctly....

[2015-12-03 20:35] jasonjoh commented on #10
So a couple of updates on this one.

First: you don't need to duplicate the prompts. You can just keep the prompt in the subgenerator and let it do the prompting. The `app` generator should only ask questions that apply across all of the subgenerators.

Second: the hang may be related to https://github.com/SBoudrias/Inquirer.js/issues/266, which in itself is apparently a [bug in Node.js on Windows

[2015-12-03 20:48] andrewconnell commented on #10
RE #1 – can you still call the generator with arguments to bypass the questions? Will they still get picked up by the sub generators? That’s the primary reason we added them to the app “top-level” generator

RE #2 – interesting… but I don’t think it’s Windows related. I see it from time to time on OS X and that’s the only place I use the generator

[2015-12-04 04:48] jasonjoh commented on #10
On #1, yes, you leave it as an option in the top-level generator, just remove the prompt.

[2015-12-05 18:43] waldekmastykarz opened #112 "Extend the validateHighResolutionIconUrl function to check for valid image URL"
We should extend the [_validateHighResolutionIconUrl](https://github.com/OfficeDev/generator-office/blob/c6f81dd4286fafbca12508250f2949c1ae10231c/generators/content/templates/common/gulpfile.js#L81) function in the generated `gulpfile.js` to check if the specified URL is a valid image URL (extension ending with `.png` or `.jpg`). Currently we only check if the specified URL is an https URL. The pr

[2015-12-07 13:07] waldekmastykarz commented on #108
Adding @patbuergin and @Dealmaster13 from Microsoft to the thread.

Looking at the current Office Store publishing guidelines published at https://msdn.microsoft.com/en-us/library/office/jj220035.aspx I came up with the following list of checks based on the manifest:

4.12.1. Add-ins for Word using manifest schema v1.1 and Office.js v1.1 must support Word Online.
5.10. You must specify an icon for

[2015-12-07 14:53] patbuergin commented on #108
Most importantly, we should check the following:
* The manifest uses schema v1.1 (10.9)
* The index file contains a reference to `https://appsforoffice.microsoft.com/lib/1.1/hosted/office.js` (7.15 & 10.9)
* The value of SourceLocation is prefixed with `https://` (5.7)
* The version tag adheres to the following pattern `a. b. c. d` (10.3)

I think we can further help developers by pointing them to

[2015-12-07 14:57] andrewconnell commented on #108
IMHO anything that can be programmatically checked that is a requirement or would cause a rejection from being accepted in the Office Store should be in this validation task **validate-forstore**

The **validate-xml** should just validate for well-formed XML & validate against the published XSD

[2015-12-07 14:58] andrewconnell commented on #112
:+1:

[2015-12-07 14:59] andrewconnell commented on #99
Where are we on this... the validate-xml for the manifest. Is it fine as is? Can we close this?

[2015-12-07 17:51] waldekmastykarz commented on #99
My suggestion: check for `manifest-*.xml` in the current folder. If it isn't there, require dev to pass the path to the task explicitly.

@jthake?

[2015-12-07 17:52] waldekmastykarz commented on #112
Shall I pick it up after we merge PR #111 into main to avoid merge issues given that a fix for this will modify the same files?

[2015-12-07 18:05] waldekmastykarz commented on #108
@patbuergin these are great suggestions!
Isn't 10.3 already enforced by the XSD with the [Version](https://github.com/OfficeDev/generator-office/blob/c6f81dd4286fafbca12508250f2949c1ae10231c/generators/content/templates/common/manifest.xsd#L242-L251) type?

@andrewconnell if we'd like to keep the **validate-xml** task limited to only validating XML against XSD then we would need another task to do

[2015-12-07 18:10] andrewconnell commented on #112
Go for it

[2015-12-07 18:12] waldekmastykarz commented on #112
:+1:

[2015-12-07 18:13] andrewconnell commented on #99
I’d amend to say *if there isn’t exactly one `manifest-*.xml` then require the caller to specify the filename / path*

[2015-12-07 18:14] waldekmastykarz commented on #99
Yes, good idea @andrewconnell

[2015-12-07 18:16] andrewconnell commented on #108
A thought… what’s the reason for validating the XML against the XSD if there are additional requirements for addin catalog & store? If you don’t meet those two bars, then it’s worthless because you can’t use it… right?

[2015-12-07 18:20] waldekmastykarz commented on #108
That's correct. We could as well change it to a function that we can call from both validation tasks rather than keeping it as a separate task. Is that the direction that you were thinking?

[2015-12-07 18:29] andrewconnell commented on #108
I no micromanage… you smart cookie so if you’re taking it, I let you implement how you best see fit :)

[2015-12-07 18:35] waldekmastykarz commented on #108
:+1: :)

[2015-12-11 17:55] jasonjoh commented on #55
I’ve finally got something completed on this add-in commands feature for the yeoman generator. I’ve checked everything into my fork of the project, in the commands branch:

https://github.com/jasonjoh/generator-office/tree/commands

### OVERVIEW

I implemented this as a subgenerator called ‘commands’. I designed it with two scenarios in mind:

- One of the existing subgenerators (‘mail’, ‘content’

[2015-12-16 10:50] #101 closed

[2015-12-16 10:50] #102 closed

[2015-12-17 16:27] waldekmastykarz opened #113 "Add .deployment file to leverage the dist task in CI on Azure Web Apps"
Since we now have the Gulp dist task in place how about we added a .deployment file to leverage it in continuous integration on Azure Web Apps with Kudu as described at http://blog.mastykarz.nl/easily-publishing-release-versions-web-applications-azure-web-apps-git-gulp-kudu/?

[2015-12-17 20:59] jthake commented on #55
OK i just reviewed this.
Note when I clone I had to clone the branch "commands".

Some feedback:
- I don't see ANY additional questions right now on "Do you want a blah" which would add an extension point?
- can you provide a sample file to parse in to yo office to see what else it can do?
- If i do a next next next, by default it puts in See Message Details, Set Subject, Get Subject, Set Receipie

[2015-12-18 00:29] jthake opened #115 "npm test not working on Windows"
I believe the npm test has not been validated on Windows machines in command prompt. When I clone the master repo and run

``npm test``

I get the following error

``c:\git\generator-office>npm test``
``> generator-office@0.3.1 test c:\git\generator-office``
``> ./node_modules/mocha/bin/_mocha -R dot test/**``
``'.' is not recognized as an internal or external command,``
``operable program or batc

[2015-12-18 00:35] andrewconnell commented on #115
Please update the generator and rerun... v0.3.1 is VERY old... current version is 0.6.1. Please update & feel free to reopen if you still have issue.

[2015-12-18 15:07] jasonjoh commented on #55
Thanks Jeremy, I'll go point by point.

- Additional questions: I'm assuming that you created an HTML/CSS add-in from the mail generator. In this case, you won't see questions, because the HTML/CSS template provides a pre-defined template of add-ins designed to mirror the existing functionality (more on this in later question). To see questions, either run the generator directly against an existin

[2015-12-18 17:08] jthake commented on #55
OK great that makes sense.

I would prefer if HTML and Angular did the same thing rather than different things. How much work is that?

Also, I wanted to double check the mocha test coverage and also how ready this was for a pull request. Unfortunately right now your coverage is only 67% and it needs to be at 98% to be accepted by the core team. It looks like you may have deleted existing tests to

[2015-12-18 17:13] jasonjoh commented on #55
Well currently the Angular template doesn't insert any code when it generates an add-in, it just creates basically empty pages for read and compose. We could definitely change that, but I think that should be a separate work item. Do you agree?

I didn't delete any tests, so it must be the merges that came after my fork. I'll work on updating my fork to be more current and see what I can do. How d

[2015-12-18 17:54] jthake commented on #55
Yes, ok I agree that's a separate issue to be discussed around angular template being bare bones and html not being.

As for tests, @andrewconnell wrote a good guide on this here https://github.com/OfficeDev/generator-office/blob/master/docs/developer-testing.md . The latest section in that doc explains that there is a code report that is more dteailed than what shows up when you run "gulp test"

[2015-12-18 17:59] jthake commented on #115
Yeah my bad, I was reviewing someones fork and didn't realize how behind the comits it was. Regardless, even with latest master I still get this error. "gulp test" runs fine though which is interesting.

[2015-12-18 18:11] andrewconnell commented on #115
The two are different… the skinny: don’t know how to fix the NPM option, but the GULP option works xplat.

(1) The NPM one is using the command line tool and calls it using the path tot he file. The problem is that paths work differently on OS X & Windows. NPM TEST is just an alias to run the command you see in the package.json file. You can run that manually if you like. It works in OSX, but does

[2015-12-18 18:21] waldekmastykarz commented on #115
I noticed that gulp test doesn't correctly report coverage: it always shows 100% while npm shows the same coverage as Travis when submitting PRs.

[2015-12-18 18:25] andrewconnell commented on #115
Known bug in the reporter… ignore the report in the console. The report generated as mentioned in our dev docs is accurate and is what coveralls uses for coverage reporting.

[2015-12-18 18:40] jthake commented on #115
yeah my report just says 100% too in the html :-1:
the table in the html has zero rows.

[2015-12-18 18:43] waldekmastykarz commented on #115
@jthake have you tried running `npm run-script test-travis`? On OS X it shows correct coverage.

[2015-12-18 18:51] jasonjoh commented on #115
Here's an empty coverage report from `gulp test` on Windows if it helps (renamed to .txt since GitHub won't let you attach HTML)

[index.txt](https://github.com/OfficeDev/generator-office/files/67036/index.txt)

[2015-12-18 20:03] jasonjoh commented on #115
@waldekmastykarz I tried running that on Windows and it failed with the same error Jeremy reported for `npm test`. I hacked a Windows-compatible version of the `test-travis` script:

    "test-travis-win": "node .\\node_modules\\istanbul\\lib\\cli.js
      cover .\\node_modules\\mocha\\bin\\_mocha -- -v -R spec -t 100000
      .\\test .\\test\\commands .\\test\\content .\\test\\mail .\\test\\taskp

[2015-12-18 20:12] andrewconnell commented on #115
** isn’t an OS thing, it’s a glob pattern

[2015-12-18 20:21] jasonjoh commented on #115
It doesn't work though in the command prompt. If I leave it like that, it fails with "can't find module test"

[2015-12-18 22:33] jasonjoh commented on #55
Ok, I've addressed the test coverage issues, and I'm now seeing these percentages (across the entire project):

    Statements   : 98.75% ( 1029/1042 ), 34 ignored
    Branches     : 96.23% ( 408/424 ), 78 ignored
    Functions    : 99.24% ( 131/132 ), 10 ignored
    Lines        : 98.75% ( 1029/1042 )

If you sync back from my commands branch you should get similar numbers.

[2015-12-18 23:00] jthake commented on #115
how did you get your reporitng working per your comment in other thread?

[2015-12-18 23:55] jasonjoh commented on #115
The hacked script entry in package.json :)

[2015-12-18 23:59] jthake commented on #115
ok so you've changed this in you your forked build? can we get a pull request in to main for this change if so in master as a separate thing to resolve this particular issue?

[2015-12-19 01:14] jasonjoh commented on #115
Yeah I changed it locally. It feels kind of hacky and I'm not sure if it's the "right" way to fix it. I'm happy to submit a PR if the hack is "good enough" though :).

[2015-12-19 01:35] andrewconnell commented on #115
Those are used by travis. & coveralls for CI. If they break travis and coveralls they can't be accepted. Submission of a PR will trigger both to run. Don't break the build! :)

-AC
Sent from my mobile. Please excuse brevity and typos.

On Fri, Dec 18, 2015 at 5:14 PM -0800, "Jason Johnston" <notifications@github.com<mailto:notifications@github.com>> wrote:

Yeah I changed it locally. It feels kind

[2015-12-19 12:23] andrewconnell commented on #115
I have added the project to [AppVeyor for automated testing on Windows](https://ci.appveyor.com/project/andrewconnell/generator-office) as PR #117. It is tested using a [matrix of the latest Node.js LTS version (4.2.3) & platforms (x86 & x64)](https://ci.appveyor.com/project/andrewconnell/generator-office/build/1.0.5). See a specific build & test result [here Node 5.2.0 on x86 here](https://ci.app

[2015-12-19 12:23] #115 closed

[2015-12-20 16:30] jasonjoh commented on #115
Awesome, thanks Andrew! I think my problem was due to leaving off the trailing '/*.js'.

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Andrew Connell <notifications@github.com>
Sent: Saturday, December 19, 2015 7:23:35 AM
To: OfficeDev/generator-office
Cc: Jason Johnston
Subject: Re: [generator-office] npm test not working on Windows (#115)

Closed #115<https:

[2015-12-21 20:11] jthake commented on #115
OK so as per https://github.com/OfficeDev/generator-office/blob/master/docs/developer-testing.md we should just use "gulp test". as "npm test" does not work still.
When I look at HTML report..it still gives me no rows in that report and everything is 100%.

[2015-12-21 20:12] jthake commented on #55
are you just running "gulp test" and getting this in the html in coverage folder?

[2015-12-22 11:42] andrewconnell commented on #115
@jthake let's level set...

`npm test` is simply a batch command / script that calls another command. As I said above, in `package.json` (*where it's defined*) it is using the syntax to run mocha & all the tests that work on a unix based box. As @jasonjoh & you have seen, it doesn't work on Windows. But you can see the command that does make it work on windows by looking at what's run in the [appv

[2015-12-22 20:21] jthake commented on #115
I wouldn't necessarily assume that this generator is targeting just OSX/Linux. It is intended for all. The reason being is that the generator will have things in it that will take longer to get into the Visual Studio 2015 tooling or in some cases won't make it. Between you, me, @waldekmastykarz and @jasonjoh there has already been value in things that can't be done in Visual Studio on Windows.

At

[2015-12-22 22:44] andrewconnell commented on #115
To the point about Windows, I’m not saying that this isn’t going to work on Windows… all I’m saying is the *developer experience* for customizing / working ON the generator (not running it on Windows) is not a use case that was factored in dev.

First, istanbul does not need to be installed the way you did it… [it’s already installed](https://github.com/OfficeDev/generator-office/blob/master/packa

[2015-12-22 22:46] andrewconnell commented on #115
To the point about Windows, I’m not saying that this isn’t going to work on Windows… all I’m saying is the *developer experience* for customizing / working ON the generator (not running it on Windows) is not a use case that was factored in dev.

First, istanbul does not need to be installed the way you did it… [it’s already installed](https://github.com/OfficeDev/generator-office/blob/master/packa

[2015-12-26 12:34] StfBauer opened #119 "Consider to replace gulp-webserver with browsersync.io"
Replacing the gulp-webserver with browsersync.io allows testing of multiple browser at the same time. By replacing gulp-webserver it is also possible to implement automatic reload of the app frame when files was changed. I think it would be pretty useful and this makes the refresh of the browser window obsolete.
I currently tested it in an instance of the generator and from my point of view it wor

[2015-12-26 12:38] StfBauer opened #120 "Consider to automatically inject static local css and javascript resources to html pages as needed"
From my point of view static resource and bower resources should be automatically injected in the html files.
I can help you on this too.

[2015-12-29 13:05] waldekmastykarz commented on #120
Could we combine this with something similar to bundles in ASP.NET MVC where you can have them automatically included as-is or merged and uglified?

[2015-12-29 13:22] StfBauer commented on #120
To bundle in bower components I would use gulp-wiredep. Wiredep reads the bower.json and include all the required files into the HTML automatically.
gulp-inject I would use to bundle in all static resource into the html.

[2015-12-29 13:24] waldekmastykarz commented on #120
What if bundles should include files outside of bower? Could wiredep include them too?

[2015-12-29 13:31] StfBauer commented on #120
For this you will use gulp-inject. You can specify what you like to inject. e.g. all in ./app/scripts/ all in ./app/css/
Currently rewriting my [style guide app](https://github.com/StfBauer/SimpleStyle/tree/dev) base on all those thing. My goal with this is to have as much automation as needed to provide a tool for fast implementation. You will find my stuff currently in dev branch.

[2015-12-29 13:36] waldekmastykarz commented on #120
Looks nice! Anything else we should take into account @andrewconnell?

[2015-12-29 15:24] andrewconnell commented on #119
Can it implement HTTPS? The thing is that **gulp-webserver** includes a self-signed cert that can be registered just one time.

[2015-12-29 15:26] andrewconnell commented on #120
wiredup & inject are definitely the way to go. I hadn't pushed for this because I thought it might be too much for folks to grok.

[2015-12-29 15:49] waldekmastykarz commented on #120
It would definitely be a great addition. @StfBauer would you like to give it a go?

[2015-12-29 15:55] StfBauer commented on #119
Yes it works the same way. Self signed cert is included in too,. Defined by the https switch. Plus you have more advanced stuff like socket.io for updates caused by code changes. Map bower components to /bower_components and so on

[2015-12-29 15:57] andrewconnell commented on #119
Works for me… if you do this, can you also make sure all docs are updated that explain the process of trusting the cert & how to setup the auto reload? Love browser sync so this would be a good enhancement.

[2015-12-29 16:26] StfBauer commented on #120
Sure no problem :)

[2015-12-29 18:07] StfBauer commented on #119
Sure. I will check for references but in general the procedure should be the same.

[2015-12-29 19:15] #108 closed

[2015-12-29 19:16] #112 closed

[2015-12-30 08:53] waldekmastykarz commented on #120
:+1:

[2016-01-02 09:31] StfBauer opened #121 "Missing script and css reference in Office UI Fabric bower component"
Not sure where to address this but Office UI Fabric bower components doesn't have CSS or JS reference in the bower.son file of the bower components.

Therefor this couldn't be added dynamically using wiredep.

@andrewconnell can you fix this or do I need to address this to the Office UI Fabric team?

[2016-01-02 10:39] andrewconnell commented on #121
As in the official Office UI Fabric? You should file that as an issue in their repo:
https://github.com/officedev/office-ui-fabric

[2016-01-02 11:04] StfBauer commented on #121
Thank you. It is missing in the official bower package.

[2016-01-02 11:04] #121 closed

[2016-01-02 11:52] StfBauer commented on #121
Add issue to [Office UI Fabric](https://github.com/OfficeDev/Office-UI-Fabric/issues/245)

[2016-01-06 20:26] jasonjoh commented on #55
Sorry for the long delay, I was off for the holidays :). To get this to work I added a new entry in my package.json in the `scripts` entry:

    "test-travis-win": "node .\\node_modules\\istanbul\\lib\\cli.js cover .\\node_modules\\mocha\\bin\\_mocha -- -v -R spec -t 100000 .\\test .\\test\\commands .\\test\\content .\\test\\mail .\\test\\taskpane"

Then I ran this command:

    npm run-script tes

[2016-01-06 20:44] andrewconnell commented on #55
By chance did you see the resolution to https://github.com/OfficeDev/generator-office/issues/115? The script you wrote can be simplified.

[2016-01-06 21:00] jasonjoh commented on #55
Yep, saw that over the holiday and promptly forgot about it :)

[2016-01-07 22:33] martellaj opened #122 "Bad reference to OfficeThemes.css in HTML/JS Mail add-in"
Not sure if it applies to other projects, probably does, but home.html references OfficeThemes.css with a bad path.

**Path in template:**
[code]

**Right path:**
[code]

[2016-01-08 00:12] jthake commented on #122
nice spot. Do you want to do a pull request for this ? :-)

[2016-01-08 00:22] andrewconnell commented on #122
:+1:

[2016-01-11 20:12] StfBauer commented on #122
This will be fixed by this pull request. https://github.com/OfficeDev/generator-office/pull/123

[2016-01-11 20:14] StfBauer commented on #119
Added [pull request](https://github.com/OfficeDev/generator-office/pull/123) that contains the replacement of gulp-webserve with browsersync.io and minor fixes. See description of pull request.

[2016-01-11 20:17] jthake commented on #119
nicely done sir. @andrewconnell did you want to validate this one ?

[2016-01-11 20:19] andrewconnell commented on #119
The build broke… seems lots of tests are now failing with this PR:
https://travis-ci.org/OfficeDev/generator-office/builds/101673508

[2016-01-11 20:28] StfBauer commented on #119
Seems like it is caused by the greater than version 2.1.1 reference of browser-sync in the _package.json files.
Should I change this to a specific version and re-issue pull request again?

[2016-01-11 20:56] StfBauer commented on #119
Another issue might is the browser-sync compilation during installation.

[2016-01-11 21:04] andrewconnell commented on #119
I’m not able to dig into it at this moment because I’m neck deep in other work. The tests should pass without the fix being removing them ;)

[2016-01-12 00:15] StfBauer commented on #119
Found the issues and fixed them ;)

[2016-01-13 17:33] StfBauer commented on #119
@andrewconnell Currently working on a blog post about the browser sync enhancements in yeoman generator. Mind if I create an additional page for browser-sync features to the documentation too?
I list there things like:
* Network throttling
* Cross browser testing
* Testing across multiple devices on the same network
* Live reload

[2016-01-13 18:15] andrewconnell commented on #119
Sounds good... go for it. I'm not very involved in this project right now so I'd direct questions like this to @jthake instead...

[2016-01-14 19:02] jasonjoh commented on #55
Just wanted to clarify next steps here. Should I proceed with a PR, or do you guys need any changes first?

[2016-01-14 20:11] jthake commented on #55
Can you submit the PR if all the tests pass and coverage is complete. I believe it was failing before and was low so wouldn't be accepted.

[2016-01-15 15:47] jasonjoh commented on #55
Submitted!

[2016-01-19 21:44] jthake opened #126 "Remove sample from HTML/JS by default so that can have add-in commands sub-generator"
Right now there is an issue where the HTML/JS option cannot use the add-in command sub-generator that @jasonjoh has implemented for angular and manifest only options.
We should look at a way to inject sample code as an additional sub generator for demos we do of the generator.

[2016-01-26 05:17] #55 closed

[2016-01-30 16:24] waldekmastykarz opened #127 "Update static reference to Angular ADAL"
Although the bower reference to Angular ADAL has been updated to v1.0.5 https://github.com/OfficeDev/generator-office/blob/master/generators/taskpane/templates/ng-adal/_bower.json#L9, `index.html` still references v1.0.0 https://github.com/OfficeDev/generator-office/blob/master/generators/taskpane/templates/ng-adal/index.html#L12-L13. Both references should be in sync. Also we could consider updat

[2016-01-30 19:08] waldekmastykarz opened #128 "Fix invalid reference to officethemes.css"
In https://github.com/OfficeDev/generator-office/blob/master/generators/taskpane/templates/ng-adal/index.html#L30 there is an invalid reference to the officethemes.css file. In the URL the file should be spelled all lowercase (doesn't matter on IIS but will return 404 on different servers) and the file is located in the **content** directory rather than **styles**.

[2016-01-30 20:34] jthake commented on #127
You putting your hand up for this one @waldekmastykarz ? ;-)

[2016-01-30 20:35] jthake commented on #128
You putting your hand up for this one @waldekmastykarz ? ;-)

[2016-01-30 20:46] waldekmastykarz commented on #127
Sure!

[2016-01-30 20:46] waldekmastykarz commented on #128
Sure!

[2016-01-31 13:36] waldekmastykarz opened #129 "Add optional reference to jQuery"
In https://github.com/OfficeDev/generator-office/blob/7d108d36ee09785e93b26f9bcdb0c783c11b9181/generators/taskpane/templates/ng-adal/index.html#L22 there is an optional reference to Office UI Fabric components. Unfortunately if you uncomment this reference, the add-in fails because it misses jQuery which is required by Office UI Fabric scripts.
If the add-in contains a reference to scripts that de

[2016-01-31 13:53] waldekmastykarz opened #130 "The validation rule 7.15 for store publication returns false positive"
When the `index.html` file contains a commented out reference to `//appsforoffice.microsoft.com/lib/1.1/hosted/office.js` the validation rule 7.15 check at https://github.com/OfficeDev/generator-office/blob/7d108d36ee09785e93b26f9bcdb0c783c11b9181/generators/taskpane/templates/common/gulpfile.js#L100-L104 passes while it should fail as the script reference is not used.

[2016-02-02 20:46] jasonjoh commented on #48
Guys, can we reopen this one? I'll submit a fix for it.

[2016-02-02 22:06] jasonjoh opened #131 "Manifest.xml only tech choice allows empty add-in start URL, creating invalid manifest"
Steps to reproduce:

[code]

This results in the following in the manifest:

[code]

When you try to upload the manifest, a schema validation error is thrown due to the empty `DefaultValue` attributes on the `SourceLocation` elements.

[2016-02-03 00:21] jthake commented on #48
Reopened. will get time late r on this. I aggree this drives me nuts ;-)

[2016-02-03 17:18] jthake commented on #131
Interesting...so yeoman validation isn't great. @waldekmastykarz have you got any experience with this?

[2016-02-03 17:20] jthake commented on #129
What do you recommend here @waldekmastykarz ?

[2016-02-03 17:21] jthake commented on #130
What is your recommendation for this @waldekmastykarz?

[2016-02-03 18:01] jasonjoh commented on #131
Really all we need to do is make that prompt reject empty, maybe add a default value?

[2016-02-03 18:04] waldekmastykarz commented on #130
Currently we do a `string.indexOf`check for this rule which doesn't fail if the contents are within a comment. We could either change it to a regex (suboptimal) or to parse *index.html* to a DOM object and check if there is a script node with the correct URL (better). Let's try to see if it's possible to parse an HTML document to DOM to do the checks. If it's not possible we can always fall back t

[2016-02-03 18:06] waldekmastykarz commented on #131
@jasonjoh have you checked if the current validation task picks it up? If it does then combining it with rejecting an empty value in the generator would be sufficient imho.

[2016-02-03 18:07] waldekmastykarz commented on #129
1. Add jQuery to bower
2. Include commented out jQuery reference in *index.html* so that it's consistent with the commented out Office UI Fabric reference

[2016-02-03 20:06] jasonjoh commented on #48
Ok, I've worked up some test cases. I was reading the thread and one of the sticking points with @MrPiao's PR was he didn't do anything with Task and Content addins. I looked at the template manifests and those addin types don't set `HighResolutionIconUrl` at all, so they wouldn't fail when uploading. So I'm not writing tests for those types, that seems out of the scope of this particular issue.

[2016-02-04 13:36] jasonjoh commented on #131
Yes it does, but running it against the manifest isn't trivial. When you do manifest only, we don't copy over the gulpfile with all of the validation stuff in it. So I had to do manifest only to create my repro manifest, then create an HTML addin in the same directory (just change the project name so the manifests won't overwrite) to get the gulpfile.

On a side note this caused a fatal error in `

[2016-02-04 14:34] jasonjoh opened #133 "Document how to use gulp validation tasks"
Developers can probably figure it out by looking at the gulpfile.js that gets generated, but it would be nicer to explain how to use things like `gulp validate`. I had to experiment to get the required parameters right.

[2016-02-04 14:42] jasonjoh opened #134 "Manifest validation task in gulpfile hits TypeError when validating mail manifest"
The `validate-forstore` task seems to look for a `DefaultSettings` element under `OfficeApp`, but in an Outlook add-in there is no `DefaultSettings` element. This causes the error:

[code]

The offending line:

`if (manifestJson.OfficeApp.DefaultSettings[0].SourceLocation[0].$.DefaultValue.indexOf('https://') !== 0) {`

**Steps to repro:**
1. Run `yo office`, accepting all defaults. (This generate

[2016-02-04 18:05] jthake commented on #48
#132 fixes this bug.

[2016-02-04 18:05] #48 closed

[2016-02-05 07:47] waldekmastykarz commented on #134
Good catch :smile:

[2016-02-05 08:28] waldekmastykarz commented on #131
This is inconvenient indeed. It might be worth revisiting the idea of the manifest-only option and whether we should include `gulpfile.js` in it.

@jthake what's your thoughts on this?

[2016-02-16 12:07] HamletHakobyan opened #136 "Can't deselect Add buttons to default tab or custom tab"
Can't deselect Add buttons to default tab or custom tab when trying to use command "yo office:mail" and choosing technology as Angular. (Windows 8.1, npm version 2.11.3, yo version 1.6.0)

[2016-02-19 23:05] alexkieling commented on #17
I would like to work on this task. We just need to discuss how to offer this option in the yeoman generator. Please add more details about the feature.

[2016-02-20 01:19] kcraigo commented on #17
Hi Alex,
When I suggested this I thought I was going to have some down time but the very next day I got pulled into a big project at work which is still ongoing, as a result I've had no time to devote to this, sorry Andrew.
If you want to take the lead in this that would be fine with me.

[2016-02-20 13:31] andrewconnell commented on #17
When I imagined how this would work, I expected another question added when you picked a template tech that involved JavaScript today (like the Angular options), it would then ask if you wanted JS / TS.

This is run by MSFT (@jthake) so I’ll defer to him to discuss implementation with you.

[2016-02-24 15:06] HamletHakobyan commented on #136
Somebody can take care about this issue?

[2016-02-25 00:06] jthake commented on #136
Right now we are stacked on things leading up to Build 2016 event so this is not a priority unfortunately. We will get to this shortly. @jasonjoh can you replicate this in your env?

[2016-02-25 15:34] Mimetis opened #137 "gulp-weberserver and routing"
Hi guys;

Actually, I try to implement some customs routes to be able to create some API handlers in my office addin project
I tried some routing packages, but no one are actually working as expected. I actually find a solution with the package **connect-routing** but I have to modify the source code.
Finally I have something like that :

[code]

As I said, It works as expected, but I have to modi

[2016-02-25 15:40] Mimetis opened #138 "how to debug in VS Code"
Since it's the gulpfile that launch the webserver, is there any way to make the VS Code debug experience better ?
Today I have to edit the launch.json file to start the gulpfile from the VS Code F5 tool :

[code]

And here is my launch.json file :

[code]

Do you have any better solution ?

By the way, replacing gulp-webserver with express (or adding the option) is something you planned ?

Sebasti

[2016-02-25 22:12] gregvanl opened #139 "Consider moving from tsd to typings for the type definition manager"
TSD is being deprecated in favor of Typings (see DefinitelyTyped/tsd#269).
Currently the generator output includes a tsd.json files for typings.  Typings supports typings.json.

When this is issue is fixed, please update the VS Code doc issue https://github.com/Microsoft/vscode-docs/issues/183 and we'll update the Office topic to use Typings.

[2016-02-26 21:27] jasonjoh commented on #136
Yes, I can reproduce it. I believe it's an issue with the prompting library Yeoman uses. I can investigate after all the Build madness :)

[2016-02-26 23:07] jthake commented on #139
Thanks for heads up on this. Yes I m aware of the TSD being deprecated aspect, there are a few deprecated libraries in here. We need to find a resource to do this and test it. Right now we are all heads down on Build 2016. As this is not a breaking change it is not urgent.

[2016-02-26 23:08] jthake commented on #138
There is an issue open still to move off node web server but the exploration of this meant that it worked on OSX but not on Windows without installing so very obscure elements via .exe. We decided to stay away from this as the intent is this generator is for both OS X and Windows.

[2016-02-29 10:40] TristanD-MSFT opened #141 "location of certificate for gulp webserver is unclear"
In readme.md, the instructions instruct the reader to trust the self-signed certificate used by the gulp serve-static, but does not specify the location of the certificate that they need to trust (just linking to the generic TechNet instructions for trusted a self-signed cert).

[2016-02-29 22:02] gavinbarron commented on #133
Added some documentation to README.md to help people our here in #142

[2016-02-29 23:38] gavinbarron commented on #134
There's a simple fix that just checks the DefaultLocation of the first Form element found in the manifest and ensures that it uses https.

The down side is that a Mail App can have multiple forms i.e. ItemRead and ItemEdit.

[2016-02-29 23:54] gavinbarron commented on #134
#143 addresses this

[2016-03-01 00:42] gavinbarron opened #144 "Mail Add-in: validate-forstore assumes /index.html exists"
In mail add-in the index.html files are not in the app root directory but are in folders for appread and appcompose. This causes the validate task to fail with an

`[16:40:31] Error: ENOENT: no such file or directory, open 'C:\dev\mail-app\index.html'
    at Error (native)
    at Object.fs.openSync (fs.js:549:18)
    at Object.fs.readFileSync (fs.js:397:15)
    at Gulp.<anonymous> (C:\dev\mail-app

[2016-03-01 03:26] gavinbarron commented on #144
Added behavior in #143 that looks at the specific index.html files that exist in the generated project and checks those for the use of the hosted version of Office.js

[2016-03-01 19:39] rolandoldengarm opened #145 "Include ngOfficeUIFabric to be able to use the Office UI Fabric components?"
I would like to add an option to the generator to be able to include [ngOfficeUIFabric](https://github.com/ngOfficeUIFabric/ng-officeuifabric/). This way a developer could easily leverage this repository to use the Office UI Fabric components in his application without needing to copy/paste HTML. Is that OK?

[2016-03-01 21:54] jthake commented on #134
Thanks @gavinbarron . I need to review  a bunch of PRs and will get to this hopefully next week.

[2016-03-01 21:55] jthake commented on #144
Thanks @gavinbarron . I need to review a bunch of PRs and will get to this hopefully next week.

[2016-03-01 21:56] jthake commented on #145
That sounds like a great idea. You'd only be adding this to the Angular language flow right?

[2016-03-01 22:41] rolandoldengarm commented on #145
Yes. So, if Angular is selected => next question is to include ngOfficeUIFabric.

Currently there are a ng and a ng-adal tech. Should I add 'ng-officeuifabric' as well? But what if a user wants both ADAL and Office UI Fabric?

[2016-03-01 22:43] jthake commented on #145
mmm I would add thsi by default. we use fabric already i believe in these templates. Can ngOfficeUIFabric coexist fine with fabric already referenced? As I know this doesnt' do everything that Fabric can do directly just yet.

[2016-03-01 22:49] rolandoldengarm commented on #145
That is no problem. ngOfficeUIFabric does not include the OfficeUIFabric CSS files, only a set of Angular directives.
But you are right that not all directives have been implemented yet, [there are 4 directives that have not been assigned yet](https://github.com/ngOfficeUIFabric/ng-officeuifabric/issues?q=is%3Aopen+is%3Aissue+label%3Ahelp-wanted). All other directives have either been implemented

[2016-03-01 23:03] jthake commented on #145
So I'd suggest just having us use this  for the angular selection.

[2016-03-01 23:06] rolandoldengarm opened #146 "The Slack image and link are broken"
The slack image on the homepage does not work, and the link brings me to BING?

[2016-03-02 00:49] rolandoldengarm commented on #145
OK All good! Can this issue be assigned to me please?

[2016-03-02 01:12] rolandoldengarm opened #147 "The ng templates don't reference the app"
When creating an ng-application, the HTML does not contain an attribute ng-app. So, the Angular module is never instantiated.
I ran into this issue when working on the change to incorporate ngOfficeUIFabric.

[2016-03-02 02:08] rolandoldengarm opened #148 "JSHint must be installed"
JSHint is not a devDependency, but it is a requirement, otherwise you'll get this error:
[code]
The current version prefers globally, so probably not add it as devDependency. It does work though, I added it locally.
But this should be documented, because I did not know this.

So, document it or add as devDependency?

[2016-03-02 20:40] pcostesi opened #150 "Generator assigns '' to the root folder"
The generator assigns the empty string ('') to `root-folder` when the user presses enter (default for 'current folder'). This causes the `.bowerrc` file to point the `directory` variable to `/bower_components`.

[2016-03-08 00:49] rolandoldengarm commented on #147
This issue has been merged, closing.

[2016-03-08 05:31] gavinbarron commented on #147
Dang, wish I'd spotted this earlier. The lack of ng-app attribute was due to the delayed bootstrapping approach when using ADAL.

[2016-03-08 05:34] gavinbarron commented on #144
Closed with merge of #143

[2016-03-08 05:34] #144 closed

[2016-03-08 09:22] rolandoldengarm commented on #147
Ah, @gavinbarron so for ng-adal the ng-app should not have been added as part of this change?

[2016-03-08 10:59] andrewconnell commented on #147
You can't load an Angular app in an Office Addin using `ng-app`... you must bootstrap it. The traditional option of using `ng-app` causes conflicts between the `office.js` & `angular.js` file with race condition on loading and neither will work. The reliable way to do it is to have Angular load first and then initialize `office.js`.

[2016-03-08 16:33] jthake commented on #147
OK So i need to roll that out of the dev branch then. Thanks @andrewconnell .

[2016-03-08 17:41] Mimetis commented on #137
Ok I investigate a lot on this behavior.
Actually, **gulp-webserver ** can't work with Azure (and it's node.js implementation with [IISNode](https://github.com/tjanczuk/iisnode) )

**gulp-webserver** needs to specify an host (if you don't gulp-webserver will use a default value to localhost)
If you go in a submodule called **tiny-lr**, you will find this :

[code]

But IISNode on Azure needs to co

[2016-03-08 18:06] gavinbarron commented on #147
Just so I'm getting this straight @andrewconnell: The correct way to load up angular and office is to:
* Create the angular module
* Initialize Office
* Bootstrap the module to the template in the initialize function

Just asking as I found that the only way I could get an Outlook add-in to successfully run with ADAL was to make use of ng-app which I now suspect is only working due to lucky timing

[2016-03-08 18:14] andrewconnell commented on #147
@gavinbarron From my experience, you're simply lucky. I never had this issue in dev, but when hosting in production, I did have race conditions that were happening. I made Office aware of it and they suspected it was something in Office.js that was causing it.

What I recommend is you create the Angular module and very soon after that, implement the `Office.initialize()` function. Within that func

[2016-03-08 18:27] gavinbarron commented on #147
Thanks. Looks like what I have is a) working by luck of timing and b) not going to work when done correctly at present :|

I'll raise another issue but suspect that the bug is in outlook-web-16.01.js when used in an ADAL IFrame

[2016-03-08 18:29] andrewconnell commented on #147
FWIW, I’ve seen it consistently without any ADAL involvement. In addition, I have not tested anything in the v16 release because it’s not in all clients.

[2016-03-08 18:47] gavinbarron opened #154 "Outlook Add-in with ADAL consistently fails"
I realize that this might not be the appropriate place to raise this issue, happy to have it closed and open it elsewhere. Really want to get it out so that the right people can see the issue,

When using the generated code for an Outlook Add-In using ADAL the app crashes due to an error in the ADAL IFrame after-redirection back to the app.

The outlook-web-16.01.js script throws an errorSys.Argum

[2016-03-08 19:18] rolandoldengarm commented on #147
Ok, good to know! We've been using ng-app in Office add-ins without any problems so far, but I've forwarded it to the team to do it differently.
But fact is, that the template doesn't do the bootstrapping too, which brings me back to my initial issue: the angular module is not loaded. Is there a reason for that? Should I add the bootstrapping to the templates?

[2016-03-08 19:20] andrewconnell commented on #147
It doesn't? A spot check looks like it does to me:

https://github.com/OfficeDev/generator-office/blob/master/generators/mail/templates/ng/appcompose/app.module.js#L21

https://github.com/OfficeDev/generator-office/blob/master/generators/mail/templates/ng/appread/app.module.js#L21

https://github.com/OfficeDev/generator-office/blob/master/generators/mail/templates/ng-adal/appcompose/app.module.js#

[2016-03-08 19:28] rolandoldengarm commented on #147
Thanks, and I'm very sorry...
I was testing in the browser, and then obviously the Office initialize function is not being called.

So it's a non issue. My bad.

[2016-03-08 19:41] gavinbarron commented on #154
Created a  repro repository and a branch with the trivial work around
https://github.com/gavinbarron/Outlook-ADAL-Issue
https://github.com/gavinbarron/Outlook-ADAL-Issue/tree/work-around

[2016-03-08 19:57] rolandoldengarm commented on #147
@jthake Will you undo the commit? The PR is here: https://github.com/OfficeDev/generator-office/issues/149

[2016-03-08 21:03] andrewconnell commented on #147
Yoda says commit not undo, forward fail, pr fix issue submit you shall…

[2016-03-08 21:21] jthake commented on #147
I like @andrewconnell suggesiton. @rolandoldengarm could you fork the dev branch and fix this and submit a new PR that rolls this out of dev branch? This saves me the work. Just glad we cuaght this before i promoted to main branch.

[2016-03-08 22:39] rolandoldengarm commented on #147
Done. Reverted my changes and submitted a PR: https://github.com/OfficeDev/generator-office/pull/155

[2016-03-08 23:31] jthake commented on #147
PR #156 accepted into dev branch now. Thanks for doing this.

[2016-03-08 23:32] #147 closed

[2016-03-08 23:37] jthake commented on #154
I was having a discussion with @richdizz that we may pull out ADAL.js usage in Office add-ins as this really doesn't work in production scenarios and there are better patterns to use. Such as that shown in the Clause Library code sample that use sockets via signalR. There is a node sample too that shows this and a document on MSDN also https://msdn.microsoft.com/en-us/library/office/mt629180.aspx

[2016-03-09 00:29] jthake commented on #137
good hunting here ;-)

There was another exploration by @stfbauer who wrote #119 and investigated that. Do you know whether this is safe with Azure deployment?

[2016-03-09 11:02] andrewconnell commented on #145
LGTM from a pure code change... the new option is definitely welcomed IMHO

[2016-03-11 01:58] rolandoldengarm commented on #145
@jthake Can you please review the PR and if OK, merge it? I'd like to write a blog post about it.

[2016-03-11 17:33] jthake commented on #145
appreciate your eagerness here. I'm buried with Build 2016 event planning right now. I need to test this myself and have not had time. This'll have to wait until at least next week if not after build in all honesty.

[2016-03-15 01:05] gavinbarron commented on #148
I installed jshint globally and gulp-jshint locally and got the same error :|

After installing the jshint locally the error was resolved.

[2016-03-18 18:30] #10 closed

[2016-03-18 18:30] #150 closed

[2016-03-30 19:40] waldekmastykarz commented on #154
It would be great to have an implementation that works everywhere every time, so if there is a better pattern than what we have in the generator now, let's replace it :smile:

[2016-04-08 17:47] richarddavenport opened #160 "Error generating mail add-in"
node -v v5.10.1
npm -v 3.8.3
generator-office 0.6.5

I'm trying to generate a simple Mail add-in, but get this error
`error git submodule -q update --init --recursive: fatal: repository 'https://git.gnome.org/libxml2/' not found`

Here's one of the commands I've tried:
`yo office:mail --name 'Mail Add-In' --root-path '' --tech 'html' --extensionPoint 'MessageReadCommandSurface'`
Here is my [npm-de

[2016-04-08 21:22] jthake commented on #160
does this work for you in command prompt?
`git clone git://git.gnome.org/libxml2`

[2016-04-08 21:24] richarddavenport commented on #160
Nope:
[code]
What would cause something like this?

[2016-04-08 21:27] jthake commented on #160
Yes. As that works for me and three others I"ve reached out to. Must be something on your machine locking it down. Can you even resolve DNS on that url?

[2016-04-08 21:46] richarddavenport commented on #160
Wow... Okay so it was a git configuration issue. At work we're behind a proxy that doesn't like the git:// protocol, so I configured git to only use https://. I've never had any problems, until now.
Here's the problem:
<img width="312" alt="rad 2016-04-08 at 4 39 43 pm" src="https://cloud.githubusercontent.com/assets/3596012/14398313/c771002a-fda8-11e5-8b3c-627413626b95.png">

The https:// repo is

[2016-04-08 22:00] jthake commented on #160
No dramas, better than a change request that would mean work for me over this nice weekend ;-)

[2016-04-08 22:00] #160 closed

[2016-05-04 14:44] ministainer opened #162 "Change dist task behavior to replace base URL in manifest file"
Hi guys,
I'd like to propose a change to the dist gulp task by passing --url parameter  ie.
`gulp dist --url https://myaddin.azurewebsites.net/
`
another task 'replace-url' will kick in reading parameter from process.args using yargs  described here https://www.npmjs.com/package/yargs ,

if no url is passed original localhost baseurl will remain the same.

Thoughts?

Amr Fouad

[2016-05-28 18:26] ministainer opened #165 "failed tests on master"
build failure due to test failure on master branch, fixed when added **Notebook** to options.clients array
`options.clients = ['Document', 'Workbook', 'Presentation', 'Project','Notebook'];`

[2016-06-02 22:35] jthake commented on #162
that's actually a great idea. @andrewconnell was the brain child of this, i wonder whether he has implemented this in his more recent open source projects

[2016-06-03 00:07] ministainer commented on #162
Great ,  I will wait for @andrewconnell  to confirm it's not implemented somewhere else, once it's ready to go I can have a PR ready for this one.

[2016-06-10 21:32] gregvanl commented on #139
@jthake Looks like TSD is really deprecated now.  http://definitelytyped.org/tsd is no longer resolving to the tool.

[2016-06-17 12:34] brucemcpherson opened #168 "ImageCoercion not enabled in Excel 2016/Excel online with from yo office"
Actually I had posted this on the general office repo, before I realized that it seemed to be specific to yeoman generated projects. Apologize for the cross posting but I think this is the correct place. I'll make a note in the original issue (https://github.com/OfficeDev/office-js-docs/issues/289) that I've posted it here.

I'm trying to use ImageCoercion as in

[code]

However this is refused by

[2016-06-23 17:46] andrewconnell commented on #162
Just noticed I was ping'd here... @ministainer I haven't done any work with this project in a while... so have at it. Unfortunately it seems the new owners of this project have not been keeping up with it... disappointing after such a strong start.

[2016-06-23 18:05] jthake commented on #162
+1 to this too. I've been in new role for 3 months at microsoft and unfortunately just don't have the bandwidth to keep this up in my non work time either without support from Office engineering. There is an intern who has been handed this in Office engineering. It doesn't look like he has touched the repo though yet :-(

[2016-06-23 23:43] ministainer commented on #162
Thanks for taking the time to reply, I think I don't have any other choice but wait :)

[2016-06-24 01:09] andrewconnell commented on #162
Sure you do… fork it and use what you create! That’s the beauty in this solution.

[2016-06-24 01:52] ministainer commented on #162
that's what I already did :) I even have a PR ready for that for a while now :+1:

[2016-06-27 15:14] jonasrk opened #170 "local reference to Office.js for offline debugging not working"
Hi!

When I comment out the online office.js import and uncomment the offline one, office.js does not load.

I've been testing this on a freshly generated `yo office` project (Task-Pane, Excel, HTML/CSS/JS) and encounter the same behavior on Microsoft Excel for Mac Version 15.23.2 (160624) as well as Excel Online in Chrome.

Here's what I tried:
- replace the capital O in the Office folder of the

[2016-07-02 09:42] bogacg commented on #139
Any progress in this front?

[2016-07-02 16:04] bogacg commented on #139
I've followed [Upgrade](https://github.com/typings/typings/blob/master/docs/tsd.md#upgrade) steps as described in typings docs. Hope it doesn't break.

[2016-07-08 01:14] keyur32 commented on #162
Hi there, we understand the frustration of this project, but we’re totally committed to it. After @jthake Jeremy left, we’ve been working through the staffing issues to pick this up.  To start with we’ve enlisted one our bright interns to coral and get up to date on moving this forward. We heard loud and clear this was a useful tool, and just started the discussions with @andrewconnell this week a

[2016-07-08 01:31] ministainer commented on #162
thanks @keyur32  I totally understand and keen to see more updates soon :)

[2016-07-09 16:31] chanmm commented on #141
Agree, I am still finding the location.

[2016-07-15 17:42] YannickGagnon opened #171 "Validation issue with Office 365 Exchange Online"
Project generated from this generator is incompatible with Office 365. It fails to import with the following errors:

1. Schema Validation failed. Please ensure that your app manifest is a valid Office or SharePoint app manifest file.
2. The icon URL supplied in the app manifest is not valid or the file supplied is not a valid image. Icon URL: https://localhost:8443 **(Tried with a valid url witho

[2016-07-15 18:11] jasonjoh commented on #171
Thanks for the report @YannickGagnon! Can you confirm the options you used to create the add-in that failed for you?

[2016-07-15 18:16] YannickGagnon commented on #171
Here it is @jasonjoh

? Project name (display name): My Office Project
? Root folder of project? Default to current directory
 (/Users/YannickGagnon/Sites/Project), or specify relative path
 from current (src / public):  .
? Office project type: Mail Add-in (read & compose forms)
? Technology to use: HTML, CSS & JavaScript
? Supported Outlook extension points: Message compose

[2016-07-15 18:28] jasonjoh commented on #171
Ok, I just tried the same options and had no problem with Office 365. Would you mind attaching your manifest? Here's what `yo office` generates for an icon for me:

`<HighResolutionIconUrl DefaultValue="https://localhost:8443/images/hi-res-icon.png"/>`

[2016-07-15 18:36] YannickGagnon commented on #171
When I run: gulp validate --xmlfile manifest-my-office-project.xml

I get:

[14:18:16] Using gulpfile ~/Sites/Humail/gulpfile.js
[14:18:16] Starting 'validate-xml'...

Manifest XML invalid
file_0.xml:28: element VersionOverrides: Schemas validity error : Element '{http://schemas.microsoft.com/office/mailappversionoverrides}VersionOverrides', attribute '{http://www.w3.org/2001/XMLSchema-instance}ty

[2016-07-15 18:41] YannickGagnon commented on #171
Here's the manifest.xml I came up with to comply with Office 365

[manifest-outlook-add-in.xml.txt](https://github.com/OfficeDev/generator-office/files/366649/manifest-outlook-add-in.xml.txt)

[2016-07-15 18:47] YannickGagnon commented on #171
If that makes any difference, I run:

- node: v4.4.5
- npm: 2.15.5
- yo 1.8.4
- generator-office@0.6.6

[2016-07-15 18:53] jasonjoh commented on #171
Ok, so the problem you're having with `SupportUrl` is in the placement. The schema is strict in requiring it in a specific place. It needs to appear immediately after `HighResolutionIconUrl`:

[code]

The generator doesn't include `SupportUrl`, so when you try to add it, you run into this problem. Updating the generator to include this element in the correct place would be helpful I think.

[2016-07-15 19:01] YannickGagnon commented on #171
That's where I had the SupportUrl the first time, but even when placing it after HighResolutionIconUrl, I get the same result.

Schema Validation failed. Please ensure that your app manifest is a valid Office or SharePoint app manifest file.

[2016-07-15 19:03] jasonjoh commented on #171
Is that error from Exchange or from the `gulp validate` task? Because I made the change to your manifest and Exchange accepted it for me.

[2016-07-15 19:31] YannickGagnon commented on #171
That is from exchange, the local error is this one

https://github.com/OfficeDev/generator-office/issues/171#issuecomment-233033009

[2016-07-15 19:49] jasonjoh commented on #171
Hmm. There must be something different, but I can't reproduce this on 2 different accounts. Can you try this version just for my own sanity? If that fails for you, then maybe we're on different server builds.

[manifest-outlook-add-in.xml.txt](https://github.com/OfficeDev/generator-office/files/366737/manifest-outlook-add-in.xml.txt)

[2016-07-15 20:03] YannickGagnon commented on #171
Now we get this error from exchange:

Exception thrown when extracting the given manifest. 'System.Collections.Generic.KeyNotFoundException: The given key was not present in the dictionary. at System.Collections.Generic.Dictionary`2.get_Item(TKey key) at Microsoft.Office.AssetValidationEnvironment.ManifestExtraction.PrivateCatalogManifestExtraction.GenerateLightweightManifestExtract(IManifestExtra

[2016-07-15 20:07] jasonjoh commented on #171
Ok. Let me check with some folks internally.

[2016-07-15 20:13] YannickGagnon commented on #171
@jasonjoh Thanks, 'cause we're pulling our hair out!!!

[2016-07-15 20:53] jasonjoh commented on #171
Just to verify, you're getting this error when you're trying to install the add-in "from a file" (similar to the steps at https://github.com/jasonjoh/command-demo/)? Also what is your OWA url?

[2016-07-16 00:05] jasonjoh commented on #171
Yannick, the devs I spoke with think that maybe you're trying to install the add-in from the admin portal through private catalogs? Private catalogs don't support Outlook yet. You should be following the steps from the link I showed above (for a single user) or from the Exchange Control Panel for an entire organization.

https://outlook.office.com/owa/?path=/options/manageapps should be the link f

[2016-07-16 00:06] jasonjoh commented on #171
I'll be on vacation next week, I'll ask the other owners to keep an eye on this.

[2016-07-16 00:30] YannickGagnon commented on #171
Thanks @jasonjoh
You're right, I was trying to add it through the Admin Center.

Enjoy your time off!

[2016-07-25 15:12] jasonjoh commented on #171
Hey Yannick, I'm back from vacation and just wanted to confirm you were able to install from the link I provided?

The good news is that the error you're seeing was a known issue that they're fixing as part of the work to get Outlook supported via the admin portal :).

[2016-07-30 10:58] brucemcpherson commented on #168
Hi anyone... I notice that nobody has been assigned to look into this yet. If this is the wrong place to report this issue, can anyone point me to a different place. I'm doing this to see whether Google apps addons can be ported to Microsoft addins, and this is one issue that's stopping me progressing...

[2016-08-08 17:00] YannickGagnon commented on #171
Hey @jasonjoh, Just came back from my vacations :)

Thanks, I was effectively able to install my development add-in for my account and hook it to a local host server.

Btw,  do you know where, if possible, I could get roadmaps of what's coming and when?

We're looking for a way to write a cross-platform add-in which would ideally, kick in automatically before sending and email.

Thanks,

[2016-08-08 17:01] #171 closed

[2016-08-19 11:32] ChristianHaase opened #172 "'Office.js has not been fully loaded yet' when trying to call custom API"
I'm not sure whether this is okay to post here, but I think it might be somewhat to the generator and the code it creates.

I have a custom API in Azure AD and this is included in my endpoints like this:

[code]

From this I should be able to connect to my API correct?
Now whenever I call a request to the API, I expect it to return some data. Instead though, I'm getting the following console error

[2016-08-19 11:56] justsayno opened #173 "Support for SharePoint Add-Ins"
If I am right this generator is only for Office Add-Ins not SharePoint Add-Ins.

Are there any tools for SharePoint Add-Ins like this other that Visual Studio? Or even some resources on how you could do a local dev build like this for SharePoint Online Add-Ins.

[2016-09-14 17:55] vboctor opened #174 "Generate a .gitignore file"
There should be a .gitignore file generated that ignores npm_modules and bower_components.

[2016-09-14 19:21] vboctor opened #175 "Mandatory 'SupportUrl' element is missing from manifest"
Ideally the template would ask for the support URL and auto-populate such field.  Or at least generate a default value in the manifest.

[2016-09-14 19:22] vboctor opened #176 "Schema validity errors in generated manifest file"
Manifest XML invalid
file_0.xml:40: element VersionOverrides: Schemas validity error : Element '{http://schemas.microsoft.com/office/mailappversionoverrides}VersionOverrides', attribute '{http://www.w3.org/2001/XMLSchema-instance}type': The QName value '{http://schemas.microsoft.com/office/mailappversionoverrides}VersionOverridesV1_0' of the xsi:type attribute does not resolve to a type definition

[2016-09-26 16:46] jasonjoh opened #180 "Outlook: Make manifest-only option use the add-in start URL as basis for other URLs"
Currently when you create a mail add-in with the manifest-only option, it asks for the "Add-in start URL", and then asks for the "Function file URL" and "Task pane URL". Function file and task pane ignore whatever you enter for start URL and default to `https://localhost:8443/...`. Would be good to derive the default value from the provided start URL.

[2016-09-26 16:46] jasonjoh opened #181 "Outlook: Manifest from generator is missing IconUrl entry"
Per Andrew this should be there.

[2016-09-29 03:52] hdnha11 commented on #176
I'm facing the same problem when running `gulp validate --xmlfile manifest.xml`.

Manifest XML invalid
file_0.xml:39: element VersionOverrides: Schemas validity error : Element '{http://schemas.microsoft.com/office/mailappversionoverrides}VersionOverrides', attribute '{http://www.w3.org/2001/XMLSchema-instance}type': The QName value '{http://schemas.microsoft.com/office/mailappversionoverrides}Ver

[2016-09-29 08:05] josteink commented on #139
Normally I'd consider sending a PR for something like this, but the (lack of) attention other PRs are getting makes me not consider it worth the effort.

@jthake Is this repo abandoned at this point? Should the community create its own fork?

[2016-09-29 19:03] bpkennedy opened #182 "Confused about Angular setup"
I generated a new Angular type (not Angular ADAL) and tried to immediately `gulp serve-static`.  I navigated to https://localhost:8443/index.html, and it appears that this code in `app.module.js` is never getting called/executed:

[code]

Is this intended?  I found that `Office` was loaded on window.  I could put `Office.initialize()` in the console and then angular would fire up, triggering a bun

[2016-09-29 19:06] bpkennedy commented on #182
Ohh....I think I see.  I just tried uploading the manifest to Word Online and it loaded on it's own.  I guess this was because I tried serving it up outside of office?

That kind of confuses me since I was just working locally in the SharePoint Framework generator.  I suppose they are two different things, so it's reasonable.

[2016-10-03 23:41] #122 closed

[2016-10-03 23:45] beth-panx commented on #122
I have merged the changes @vboctor and @jonasrk made in #169 #177 #178 that fixes this issue.

[2016-10-04 18:30] beth-panx commented on #182
Hi there, as you can see from the documentation on [Office Dev Center](http://dev.office.com/getting-started/addins), you need to host your add-in somewhere and then sideload it in Office Online to debug it. Let me know if you have more questions. I'm closing this issue.

[2016-10-04 18:30] #182 closed

[2016-10-06 15:22] beth-panx commented on #181
Resolved by pr #184

[2016-10-06 15:22] #181 closed

[2016-10-06 15:23] beth-panx commented on #175
Resolved by #184

[2016-10-06 15:23] #175 closed

[2016-10-06 18:15] beth-panx commented on #165
Fixed by PR #166

[2016-10-06 18:15] #165 closed

[2016-10-06 18:16] beth-panx commented on #162
Close by PR #167

[2016-10-06 18:16] #162 closed

[2016-10-11 00:05] beth-panx commented on #146
Fixed by pr #186

[2016-10-11 00:05] #146 closed

[2016-10-11 00:06] beth-panx commented on #148
closed by pr #186

[2016-10-11 00:06] #148 closed

[2016-10-15 23:22] nigel-dewar opened #188 "Installed everything as required - but yeoman complains that cannot find module 'gulp-replace-name'"
Installed everything as required - but yeoman complains that cannot find module 'gulp-replace-name'

I even tried installing 'gulp-replace-name' globally to try and get over this hurdle, to no avail. Is this generator broken?

[2016-10-17 21:45] beth-panx commented on #188
When do you see the error message? After npm install? I can't repro this.
Try
`rm -rf node_modules/
npm install`

[2016-10-17 21:46] beth-panx commented on #188
When do you see the error message? After npm install? I can't repro this.
Try
`rm -rf node_modules/`
`npm install`

[2016-10-18 16:36] beth-panx commented on #173
I was just talking with some of my colleagues about this last week and looks like we have a developer preview program [here](https://github.com/SharePoint/sp-dev-docs). I also played around with [generator-sharepoint](https://www.npmjs.com/package/@microsoft/generator-sharepoint) myself for a bit and it's pretty cool! Hope this helps.

[2016-10-18 16:38] #173 closed

[2016-10-18 17:51] #133 closed

[2016-10-18 22:35] #128 closed

[2016-11-03 05:16] ynp7 commented on #141
Seriously! Where is the certificate?

[2016-11-17 15:43] manaswi commented on #141
No, Seriously. No kidding. Where is it?

[2016-12-08 21:14] #188 closed

[2016-12-08 21:20] beth-panx commented on #176
Hey @vboctor and @hdnha11 sorry for the late reply, we are aware of this problem and have been actively brainstorming solutions. I have backlogged this into it's own feature and will work on it soon. As of right now, please refer to [this document](https://dev.office.com/docs/add-ins/overview/add-in-manifests) for validation information.

[2016-12-08 21:20] #176 closed

[2016-12-08 21:24] beth-panx commented on #172
The initialization function for Officejs is in the generated home.js file. Where do you put your initialization code?

[2016-12-08 21:43] beth-panx commented on #145
Hey @rolandoldengarm could you take a look at the comments on the pr #157 you submitted? I'd be happy to test it again when you are done. Or else I will close both soon. :)

[2016-12-08 22:03] rolandoldengarm commented on #145
@beth-panx sorry as it has been a long time ago, I don't have the repo configured on my machine anymore. I'll need to set it up again first, will try to do it next week!

[2016-12-08 22:09] beth-panx commented on #141
![screen shot 2016-12-08 at 2 04 37 pm](https://cloud.githubusercontent.com/assets/7429891/21029591/565b9c30-bd4f-11e6-95eb-bd27fde2657c.png)

At the last step when you are ready to import the cert.
1. Trusted Root Certification Authorities -> All Tasks -> Import
2. Certificate Import Wizard -> Next
3. File to Import -> Browse
4. ~/your_yo_office_project/node_modules/gulp-webserver/ssl/dev-cert.pe

[2016-12-08 22:10] #141 closed

[2016-12-08 22:11] beth-panx commented on #145
Awesome!! Thank you 💯

[2016-12-08 22:16] beth-panx commented on #139
Hey guys! Great feedback. I am currently working on the next version of generator-office. It is moving away from tsd and will use typings instead.

[2016-12-08 22:17] #138 closed

[2016-12-08 22:24] #137 closed

[2016-12-08 22:27] #134 closed

[2016-12-08 22:31] #131 closed

[2016-12-08 22:35] #130 closed

[2016-12-08 22:35] #129 closed

[2016-12-08 22:36] #127 closed

[2016-12-08 22:36] #126 closed

[2016-12-08 22:37] #120 closed

[2016-12-08 22:41] beth-panx commented on #119
@StfBauer I am working on the next version of generator-office now and decided to go with browsersync. Would love to have you code review some my work if possible. I will let you know once I have it on the magical interweb...

[2016-12-08 22:49] #99 closed

[2016-12-09 00:13] gregvanl commented on #139
@beth-panx Would you also be the person to do a freshness pass over the Office topic oncode.visualstudio.com? The Markdown is at https://github.com/Microsoft/vscode-docs/blob/master/docs/runtimes/office.md.
VS Code is doing a freshness pass over all our docs next week and we wondered who could review the Office topic to make sure it is still accurate.

[2016-12-09 06:20] josteink commented on #139
@beth-panx  actually now typing a has been deprecated in favor of the new @types NPM organization. you install types by typing:

    npm install @types/libname

And that's it. No need for any additional tools .

[2016-12-09 07:17] bogacg commented on #139
@josteink also, they are automaticaly included under node_modules folder of subject library so that devs using those libraries don't have to `npm install @types/libname` seperately, Typescript 2 understands that and so does VS Code. What I try to say is once `@types` are defined for current version they should also be included in main project for ease of use.

[2016-12-09 07:39] josteink commented on #139
Agreed. I was thinking in case the generator had dependent libraries.

Thinking it through though, you have 2 dimensions: consumed modules and exported modules.

Obviously both needs to be addressed.

[2016-12-12 23:19] beth-panx commented on #139
@slabereemsft could you take a look at the link @gregvanl provided and point us to the proper path/contact here?

[2016-12-12 23:30] beth-panx commented on #139
@josteink looks like yeoman generator hasn't made it to @types npm org yet. However, it's certainly an interesting/easy way to install types for the dependent libraries.

@bogacg how's the results when you follow the [upgrade](https://github.com/typings/typings/blob/master/docs/tsd.md#upgrade) doc? Wanna send a pr if it works? 😬

[2016-12-15 18:44] scuba747 commented on #154
Nine months have now gone by on this issue. Are there thoughts out there as to the approach that should be taken by developers to make their apps work from the generated add-in? Is dropping ADAL really the answer?

[2017-01-01 13:05] StfBauer commented on #119
@beth-panx Awesome!!! If you need something let me know cause I already implemented that kind of stuff in yo office.

[2017-01-07 21:35] Ibrahim-Islam opened #195 "Outlook addin not showing up in compose mail mode"

[2017-01-08 14:17] pgrm commented on #17
Now that Angular2 is out, maybe there can be a template based on `ng-cli` with angular2 and typescript?

[2017-01-10 00:12] beth-panx commented on #195
Hi @Ibrahim-Islam, can you verify that you have `generator-office@0.6.8` installed? I just tested on my machine with `yo office:mail `and it generated my project fine.

[2017-01-10 09:37] vjrantal opened #196 "The dist task does not work"
After creating the mail add-in with default settings, the dist task does not work and the error is: `$.minifyCss is not a function`. You can see the full context of the error from https://gist.github.com/vjrantal/d1e1dcd4c878f9da83ef3a012dc61959#file-dist-task-error-txt-L504.

[2017-01-10 21:12] beth-panx commented on #196
Good catch @vjrantal! This is because we replaced `gulp-minify-css` with `gulp-clean-css` in the last release due to the deprecation of minifycss. I am currently modifying the workflow of this project and moving away from gulp tasks for v.next.

If you want to submit a pull request for the current version, I will help review and merge it. 😁

[2017-01-10 21:18] beth-panx commented on #17
We are currently modifying the workflow of the project for vNext. I have added typescript support for both contributors and customers. Right now only jQuery and Angular1 are scheduled for release. @kcraigo and @alexkieling, help me review it once it's out? I will keep you both posted! @pgrm great idea on Angular2 and TypeScript template!

[2017-01-10 23:51] nigel-dewar commented on #154
@jthake , can you please elaborate on why "ADAL.js usage in Office add-ins as this really doesn't work in production scenarios and there are better patterns to use"?

I mean, ADAL.js seem to work perfectly fine in an office add-in, (I am yet to use in production though), and its allot simpler to work with than than fancy but complicated solution using SignalR and storing access_token and refresh_t

[2017-01-11 09:27] vjrantal commented on #196
@beth-panx: The fix is relatively simple and here is as reference commit that fixes it for a generated project https://github.com/stampery/office/commit/400065e3b6209bd4e4c76680ae01b2d601571a4c. I could do a PR which patches these files in this repository that all have the same issue:

[code]

However, if your next npm release is anyways deprecating gulp tasks, this fix wouldn't help anyone using

[2017-01-12 19:50] beth-panx commented on #195
@Ibrahim-Islam
Following up here.. closing the issue if this is no longer a problem.

[2017-01-12 19:54] beth-panx commented on #196
We actually decided on a potential beta release at the end of this month for a new workflow and typescript support. So I would suggest that if it's working for you with the fix in your repo, there's no need for a pr. There will prob be a separate tool for minify/uglify files for projects that spans across windows, mac os, etc. in the future. Gulp tasks will be deprecated. :)

Hope this helps.

[2017-01-13 19:12] beth-panx commented on #168
Please refer to office-js-doc [issue #289](https://github.com/OfficeDev/office-js-docs/issues/289)

[2017-01-13 19:12] #168 closed

[2017-01-17 13:30] #195 closed

[2017-01-19 20:55] JoshuaKGoldberg opened #197 "Your badges are 404ing"
https://camo.githubusercontent.com/83ec5b83ff2bbb953a6dd45da80f765c26ca6e3d/68747470733a2f2f64617669642d646d2e6f72672f6f66666963656465762f67656e657261746f722d6f66666963652e737667

See README.md.

![image](https://cloud.githubusercontent.com/assets/3335181/22124917/8ed404f4-de46-11e6-9889-160b54a063ed.png)

[2017-01-20 19:56] beth-panx commented on #197
Sometimes those resolve really slowly due to organizational settings. It came back yesterday. Didn't really change anything. Thanks for the heads up!!

[2017-01-20 19:56] #197 closed

[2017-01-24 10:45] samkevin commented on #173
I would like to recommend 365Appz SharePoint Accelerator Kit. I have used these [SharePoint online add-ins](http://365appz.ngenioussolutions.com/) which include 19 different add-ins, 3 custom theme and multiple beautiful layouts with modern design. It will definitely work for you. You can easily build intranet or SharePoint portal within days.

[2017-02-02 18:43] jasonjoh opened #200 "Beta package.json postinstall script error"
When running the following command to install:

[code]

I get the following error:

[code]

I can get around this by adding `typings` to my install command:

[code]

I believe the fix for this would be to change the `postinstall` script in package.json to:

[code]

[2017-02-02 18:48] jasonjoh opened #201 "Beta: Outlook add-in manifest has invalid function file"
The manifest has the following:

[code]

Couple of problems:

1. The leading `~` character makes this an invalid value and seems to keep the add-in from displaying in desktop Outlook.
1. There is no function-file.html file in the project.

[2017-02-02 18:58] jasonjoh opened #202 "Beta: Compile error in Outlook add-in"
In a new Outlook add-in project using TypeScript, I get the following compile error when running it with `npm start`:

“src/app.ts(15,11): error TS2304: Cannot find name ‘Outlook’.”

Options to create project:

[code]

[2017-02-02 18:58] jasonjoh commented on #201
Options to create project:

[code]

[2017-02-02 19:01] jasonjoh opened #203 "Beta: Sideloading portion of resource.html incorrect for Outlook"
It lists these steps:

[code]

This does not accurately reflect the Outlook experience.

[2017-02-02 19:59] jasonjoh opened #204 "Beta: Name of add-in gets weird casing"
For the add-in name, if I enter something like "My Test Add-in", the generator converts it to "My test add-in". This gets put into the Manifest, into the HTML source, etc.

This seems like incorrect behavior. I want my add-in to show up as title-cased, or at least to just show up as I entered it in the prompt.

This line in index.ts seems to be the cause of this:

[code]

[2017-02-02 20:03] Reezaali opened #205 ""YO Office Demo (screenshot & video)" section in the README"
I don't see a video when I click the image. Was this missed accidentally?

[2017-02-02 20:06] Reezaali opened #206 "Unclear documentation?"
From the README:
****
This generator is for those developers who:

- use an editor other than Visual Studio
- are interested in using a technology other than plain HTML, CSS & JavaScript
****

Is the last bullet above correct?

[2017-02-02 21:02] jasonjoh commented on #200
On further research I guess `typings install` is supposed to be a command that will work if `typings` is installed. So the fix here may be to just add `typings` to `dependencies` in the package.json. It is currently in `devDependencies`.

[2017-02-02 23:23] Reezaali commented on #200
I encountered the same issue. The following also worked for me:

`npm install -g typings yo generator-office@1.0.0-beta.1`

[2017-02-03 07:20] beth-panx commented on #200
I would like to migrate to use @types instead of typings, which is on a working branch now. Accidentally deleted typing this morning when I merged a pr. womp...

[2017-02-04 00:15] Reezaali opened #209 "Run button issues"
Two issues:

- After clicking the run button, the circle appears only after I move my mouse off the button.

- A small piece of the arrow is outside of the circle.

Thanks!

[2017-02-08 17:23] msholly commented on #206
The generator has the option to use AngularJS (and Typings now). I'm not with the project, but I'm assuming this is what they are referring to.

[2017-02-08 22:18] beth-panx commented on #205
Updated :)

[2017-02-08 22:18] #205 closed

[2017-02-08 22:30] #200 closed

[2017-02-09 19:43] beth-panx commented on #17
This is included in the new release. Feedback wanted and more than welcomed!

[2017-02-09 19:43] #17 closed

[2017-02-09 19:44] beth-panx commented on #100
As we moved away from gulp tasks and implemented Browsersync. This is no longer needed.

[2017-02-09 19:44] #100 closed

[2017-02-09 19:45] beth-panx commented on #119
@StfBauer Browsersync has been implemented in v 1.0. Feedback wanted and more than welcomed!

[2017-02-09 19:50] beth-panx commented on #170
@jonasrk Hi there! It's been a long time coming but we have released a new version that incorporated latest Officejs and Fabric. Would you like to give it a try?

[2017-02-09 19:52] beth-panx commented on #139
New release v1.0 leverages @types for both yo office itself and the generated projects.

[2017-02-09 19:55] beth-panx commented on #174
See [yeoman/generator/#812](https://github.com/yeoman/generator/issues/812)

[2017-02-09 19:56] beth-panx commented on #203
@WrathOfZombies @nokafor

[2017-02-09 19:58] beth-panx commented on #172
@ChristianHaase following up to see if you still need help 🤓

[2017-02-10 08:46] ChristianHaase commented on #172
Sorry for the late answer, but I do not need further help.

[2017-02-10 19:38] StfBauer commented on #119
Just need to find time to check it out. Maybe next week or so.

[2017-02-10 19:43] beth-panx commented on #209
@WrathOfZombies

[2017-02-10 19:45] beth-panx commented on #206
@msholly is correct. We are trying to bring in more frameworks such as Angular. That's what the bullet point intended to communicate. @Reezaali What would you recommend to reduce the level of confusion?

[2017-02-10 19:46] beth-panx commented on #204
Great spot!! project name should stay as is. Bug logged and will fix it soon.

[2017-02-10 19:49] beth-panx commented on #196
Closing this because v1.0 uses Browsersync other than gulp.

[2017-02-10 19:49] #196 closed

[2017-02-10 19:50] #172 closed

[2017-02-10 19:51] #139 closed

[2017-02-10 19:58] nokafor commented on #203
You are correct. It should mirror [this page](https://dev.office.com/getting-started/addins) and say:

- From your mailbox, click the gear icon in the upper-right corner of the page and choose Manage Add-ins. (If you don’t see Manage Add-ins, your account has not been migrated to Exchange yet. You can contact outlookdev@microsoft.com to get your account migrated, or create a new Microsoft account.

[2017-02-13 08:59] schmir opened #211 ""Trying to copy from a source that does not exist" Error on case sensitive filesystem"
Running yo office fails with "AssertionError: Trying to copy from a source that does not exist: /home/ralf/opt/node-v6.9.5-linux-x64/lib/node_modules/generator-office/generators/app/templates/manifest/Excel.xml"

This happens on a linux system and it looks like the cause is that generator-office assumes a case-insensitive filesystem. The above directory only contains a lowercase "excel.xml".

[cod

[2017-02-13 17:51] beth-panx commented on #211
Thanks! Fixed on master.

[2017-02-14 17:56] jasonjoh commented on #203
Nah, there's a better in-client method using Outlook 2016. How about you guys let me update it? :)

[2017-02-14 18:00] nokafor commented on #203
Sounds perfect!

[2017-02-15 04:00] baywet opened #212 "Dependency to typings not declared"
I was testing out the generator on a brand new machine on which I didn't have typings globally installed.
Because the postinstall relies on typings but doesn't check if already here before trying to use it, the installation of the generator crashes with the following error message

'typings' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! Windows_NT 1

[2017-02-15 04:06] baywet opened #213 "ApplicationInsights:Sender [ { Error: unable to verify the first certificatey"
I got the following error message right after the files creation and before the npm install sequence when generating an Outlook add-in.
Running nodejs 7.5.0 on windows 10x64 general ring.

ApplicationInsights:Sender [ { Error: unable to verify the first certificatey.npmjs.org/readdirp
      at TLSSocket.<anonymous> (_tls_wrap.js:1085:38)
      at emitNone (events.js:86:13)
      at TLSSocket.emit

[2017-02-15 17:35] beth-panx commented on #212
Hello! Please install the latest version of generator-office instead of generator-office@1.0.0-beta.1

[2017-02-15 17:39] beth-panx commented on #213
I saw this error yesterday on my machine briefly and found this issue with [App Insights](https://github.com/Microsoft/ApplicationInsights-node.js/issues/128). Tried it this morning and the error went away. I saw your other open issue. Could you install the latest version and let me know if it works?

[2017-02-15 17:41] #211 closed

[2017-02-15 18:41] baywet commented on #212
Sorry I was following the installation procedure provided by Office preview program and didn't notice new versions.

[2017-02-15 18:41] #212 closed

[2017-02-15 18:44] baywet commented on #213
Just ran the command again and didn't get the issue.

[2017-02-15 18:44] #213 closed

[2017-02-18 03:30] jasonjoh opened #214 "New project tests are flaky - inconsistent results"
When doing:

[code]

The last 3 tests are very inconsistent. Sometimes all three assert on `creates expected files`. Sometimes only the last one, and sometimes they all go through. It even changes which file it says isn't there. After digging in the temp directory, all the files are actually there!

I believe this is due to how `done` is called in the `helpers.run`. On the consistent tests, it is

[2017-02-20 05:00] Zlatkovsky opened #216 "[Minor UX] Text wraps strangely on a couple of the `yo office` screens"
On a regular Windows machine with 80-character-wide console (default):

![image](https://cloud.githubusercontent.com/assets/2230453/23112500/9810ab14-f6e5-11e6-8d2e-232a12814ccc.png)

![image](https://cloud.githubusercontent.com/assets/2230453/23112539/dfec1e96-f6e5-11e6-9981-a4e65f9129e6.png)

[2017-02-20 05:02] Zlatkovsky opened #217 "Command editor keeps blinking at end of generation; doesn't return control back to console"
After running yeoman on a Win8.1 machine, the control is never returned to the console (blinking cursor)

![image](https://cloud.githubusercontent.com/assets/2230453/23112645/aff1517e-f6e6-11e6-97c4-24392a2bd865.png)

Needed to terminate job (ctrl+c) to regain control

[2017-02-20 05:19] Zlatkovsky opened #218 "IntelliSense for Office.js should be installed by default"
Right now, needed to manually do `npm install @types/office-js`, before being able to see IntelliSense off of `Excel.`

[2017-02-22 00:17] Zlatkovsky opened #219 "Add .gitignore, .vsproj, .sln, .deployment, .travis.yml, .nvmrc and a README to the project"
Add .gitignore (with a set of Node + VS defaults (node_modules, bit, obj))
.vsproj and .sln (for Visual Studio)
And .deployment (for azure deployment, to specify dist folder)
.travis.yml (Travis continuous-integration)
maybe .nvmrc (Node Version Manager)

And a README to describe what all these files are, and the scenarios for when you need them.

[2017-02-22 00:20] Zlatkovsky opened #220 "Move generated manifest to its own "manifest" folder"
Otherwise it:

1. Clutters the otherwise normal look of a node-based web project.
2. Gets lost amidst the other files (esp when, as per https://github.com/OfficeDev/generator-office/issues/219, more will be added).
3. Doesn't encourage the pattern of having multiple manifests (one for local, one for staging, one for production...)

[2017-02-25 14:18] erlangsec commented on #202
Possibly related: I got this error when trying to create new Outlook add-in:

[code]

What fixed it for me, was to rename the template /app/templates/manifest/outlook.xml - to Outlook.xml (with a capital O). I assume the same works for the other templates as well.

I.e. there is a bug with locating the template files due to a mismatch in casing.

[2017-03-01 17:18] #214 closed

[2017-03-01 22:17] #201 closed

[2017-03-02 22:20] #206 closed

[2017-03-02 22:25] beth-panx commented on #218
Could you verify the answers you provide throughout the program? @types/office-js is already included in the package.json file for all js projects.

[2017-03-02 22:31] beth-panx commented on #219
- See [yeoman/generator issue #812](https://github.com/yeoman/generator/issues/812) for copying .gitignore not accomplishable
- In discussion for the rest

[2017-03-03 00:07] Zlatkovsky commented on #219
@beth-panx , I find it strange that there would be such limitation.  Do the other templates really not add a .gitignore file?

What about the gitignore generator, how is it doing it?  https://www.npmjs.com/package/generator-gitignore

[2017-03-03 15:36] jasonjoh commented on #202
Thanks @erlangsec! I think your issue is actually fixed by [this commit](https://github.com/OfficeDev/generator-office/commit/f549d4d7e229e6e6f67e3fc48ec98646d09fcb0c) and isn't directly related to the compile issue.

[2017-03-03 21:37] beth-panx commented on #170
Hello @jonasrk, I am following up to see if you get a chance to try the generator again? Closing this soon.

[2017-03-03 21:54] #202 closed

[2017-03-03 21:54] #203 closed

[2017-03-03 22:08] beth-panx commented on #202
@erlangsec new package has been released with the commit that @jasonjoh referred to.

[2017-03-08 21:00] dougdew opened #225 "ReactJS support, Office UI Fabric for ReactJS support"
Will support be added for ReactJS and Office UI Fabric for ReactJS? If so, is that planned for this year? If not, what should we use to generate such projects?

[2017-03-10 02:39] johnyradio opened #226 "Cannot Add Cert in Sierra"
in Sierra, this step fails:
Click the plus button at the bottom and select the localhost.cer file you copied to the desktop.

When you click the plus, there's no way to select the cer file. You get:

![image](https://cloud.githubusercontent.com/assets/6564280/23779837/b48eb522-04f7-11e7-819b-8418197c4a78.png)

[2017-03-10 02:43] johnyradio commented on #226
One workaround is to drag the .cer file into Keychain Access.

[2017-03-13 17:28] beth-panx commented on #226
The reason you got that screen is you have 'Passwords' selected in 'Category' instead of 'Certificates'. So it was trying to add a keychain password instead of cert. I will update our doc to reflect this.

[2017-03-13 18:09] #204 closed

[2017-03-13 18:09] #170 closed

[2017-03-15 17:50] #226 closed

[2017-03-15 17:51] beth-panx commented on #174
Refer to #219 for future enhancement discussion.

[2017-03-15 17:51] #174 closed

[2017-03-15 17:51] #119 closed

[2017-03-15 17:53] beth-panx commented on #145
In the new structure, we included Office UI fabric in package.json which uses the new Fabric Core and Fabric JS. #157

[2017-03-15 17:53] #145 closed

[2017-03-15 17:54] beth-panx commented on #113
Refer to #219 for future enhancement discussion.

[2017-03-15 17:54] #113 closed

[2017-03-23 07:05] praditha commented on #12
Hi All, thanks for good post.

I have a question, can I execute `bower install` for another directory?

for example `bower install --path=./src/assets`

[2017-03-25 00:37] kkrzaczkowski commented on #154
@jthake , Any progress with support of ADAL within Outlook add-in ?

@nigel-dewar , Is your office add-in still working with ADAL ?
My outlook add-in application worked 1 month ago but now is broken. I gets the same error like gavinbarron .

[2017-03-25 20:16] Hongbo-Miao opened #228 "Generate Angular 4 project"
Right now the project generates Angular 1.6.1, please consider supporting Angular 2+ or 4 in the future.
No rush.

[2017-03-28 21:57] beth-panx commented on #225
@dougdew We have react template implemented. Want to give it a try?

[2017-03-28 21:58] #218 closed

[2017-03-28 21:59] dougdew commented on #225
@beth-panx Absolutely I would like to give it a try!

[2017-03-29 00:44] dougdew commented on #225
@beth-panx I cloned this repo, built and npm-linked to the built code. Then I ran "yo office" to create a react-based add-in. I encountered these issues:

1. After outputting the "Congratulations! Your add-in has been created!" message with the next steps, the generator did not terminate. Instead, I had to CTL-C to terminate.

2. The certificate for the add-in was not trusted by my browser, which

[2017-03-29 01:00] dougdew commented on #225
From what I can see in the Chrome debugger the call to main is not happening for these lines of code:

Office.initialize = () => {
    main();
};

[2017-03-29 01:07] dougdew commented on #225
According to VS Code, the use of "async" in app.tsx is only supported for a build target of es2015 or later. I changed the "target" setting in tsconfig.json to "es2015" and the red squigglies under the "async" keywords went away.

[2017-03-29 07:16] pwombwa commented on #154
@gavinbarron Kindly explain the work around you used here https://github.com/gavinbarron/Outlook-ADAL-Issue/tree/work-around

[2017-03-29 17:46] beth-panx commented on #225
@dougdew There was some small bugs we found yesterday with it. All great finds you mentioned above.

1. I am aware of that happens sometimes. I think it has something to do with node process sending data in the background. Could you share what OS and version of node and npm you are using?

2. I am not sure about this one. It had been working for me fine. Did you trust it in the management console/

[2017-03-29 18:01] dougdew commented on #225
@beth-panx Thanks! I'll try again tonight after work.

[2017-03-30 00:46] dougdew commented on #225
@beth-panx I pulled the latest versions, created an add-in, built the add-in and then ran the add-in. There are fewer errors than there were yesterday.

1. The error for the use of "async" for a build target that is not es2015 or later is still present. I recommend updating the build target.

2. There are many console errors for ERR_INSECURE_RESPONSE, failed to load sockjs-node/info

3. There's a

[2017-03-30 00:51] dougdew commented on #225
@beth-panx I just side-loaded my add-in into Excel 365 and the spinning "Loading" circle went away. Instead, I received the full and correct text of the add-in.

As I recall, when using the plain vanilla (jquery) add-in generator I did not have to side load in order to get the full and correct text of the add-in.

At any rate, I am very happy.

Thank you very much for making this available!

[2017-03-30 15:44] beth-panx commented on #225
@WrathOfZombies is the main contributor to this template! 👍  Glory is all his.

[2017-03-30 15:44] #225 closed

[2017-03-30 16:36] #217 closed

[2017-03-30 16:42] #216 closed

[2017-03-30 17:46] dougdew commented on #225
Thank you very much @WrathOfZombies !

[2017-03-30 20:34] WrathOfZombies commented on #225
@dougdew Thank you. Glad that you are liking it. A couple of points to note.

The react template is built a little differently and involves the use of webpack which, based on feedback would help folks to get to production with bundling and minification among other things. Hence there are two sets of certs to be trusted. One from https://localhost:3000 (brower-sync) and one from https://localhost:3

[2017-03-30 22:23] Reezaali opened #235 "React version does not start"
Hi, when running npm start I get the following error:

Invalid configuration object. Webpack has been initialised using a configuration object that does not match the API schema.
 - configuration.context: The provided value "c:\\code\\hello-react-yo-office\\src" is not an absolute path!
 - configuration.output.path: The provided value "c:\\code\\hello-react-yo-office\\dist" is not an absolute path

[2017-03-31 01:59] dougdew commented on #225
@WrathOfZombies I am *very* happy to read that you've chosen to use webpack.

I would absolutely love if this template was aligned with Facebook's create-react-app. If this template could somehow build upon or improve upon Facebook's create-react-app so that typescript is used instead of javascript (as is currently used by create-react-app), that would be great.

[2017-03-31 02:04] dougdew commented on #225
@WrathOfZombies Also, I'm using VS Code. I'm hoping eventually to be able to conveniently debug Office Add-Ins from within VS Code, just as I can today from within Visual Studio.

[2017-03-31 18:33] beth-panx commented on #235
For future reference:
@Reezaali and I worked together to try to reproduce the error. Seems like it has something to do with WebPack 2.3 does not work well with Windows cmd sometimes. Recommending using powershell for windows users.

The issue can not be reproduced after regenerate react project with the latest version.

[2017-03-31 18:33] #235 closed

[2017-04-09 19:13] WrathOfZombies commented on #225
@dougdew: We had to stray from the create-react-app as the goals were different. Facebook's goal is to help people learn and get on the react platform. Our goal is to help Add-in developers be productive throughout the life-cycle. That said i'll let @beth-panx  evaluate this.

[2017-04-09 19:20] WrathOfZombies commented on #225
From my experience, the best experience with Office development that VSCode can offer is allowing breakpoints to debug, but in order to get to that experience a whole bunch of hoops need to gone through. Alternatively, I think for any developer its a lot easier to download Visual Studio 2015 Community Edition and use the "Attach Debugger" option in the menu options for the active Add-in. (there's

[2017-04-09 19:21] WrathOfZombies commented on #225
Here's some documentation for the same: https://dev.office.com/blogs/attach-debugger-from-the-task-pane

[2017-04-09 19:23] WrathOfZombies commented on #235
@Reezaali can you open webpack.dev.js and webpack.prod.js and whereever you see context and outputPath, just wrap the string inside of a path.resolve('<string here>')? That should solve the problem.

Also if it does, please send a pull request.

[2017-04-10 23:01] #154 closed

[2017-04-11 05:57] dougdew commented on #225
@WrathOfZombies Thank you very much for the explanation and the detailed help!

[2017-05-11 20:38] beders opened #239 "Generated resource.html doesn't display correctly on Safari"
Minor thing.

Can't scroll the section above to make it visible.
<img width="351" alt="screen shot 2017-05-11 at 1 38 09 pm" src="https://cloud.githubusercontent.com/assets/522318/25970864/0e818112-364f-11e7-910c-817765537b10.png">

[2017-05-17 18:35] Zlatkovsky opened #240 "Project manifest shouldn't offer Add-in Commands, since Project doesn't support them"
Project manifest:  https://github.com/OfficeDev/generator-office/blob/master/src/app/templates/manifest/project.xml

In general, I don't see why the manifest isn't just one parametarized file, much as we did in https://github.com/OfficeDev/script-lab/blob/master/src/server/templates/manifest

See the handlebars-based `{{#if supportsAddinCommands}}`, `<Host Name="{{{hostType}}}" />`, etc.

[2017-05-17 18:38] Zlatkovsky opened #241 "Add `OfficeJsHelpers` by default (e.g., esp. for error notifications and logging)"
See the default snippet from Script Lab, and its use of Office Helpers in the catch block.  Both the UI utility and the logging are very helpful, and should be include in Yeoman as well.

    $("#run").click(run);

    async function run() {
        try {
            await Excel.run(async (context) => {
                const range = context.workbook.getSelectedRange();
                range.format

[2017-05-17 18:42] Zlatkovsky opened #242 "Run button should show error if clicked outside of Office context"
And/or jquery document.ready initialize logic should be outside of the button -- but having a not-hooked-up button on the screen doing nothing is a confusing experience.

[2017-05-18 00:38] Zlatkovsky opened #243 "Issues with default "run code""
A couple low-hanging-fruit issues:

- Code should do something (even as simple as showing a notification via `OfficeHelpers.UI.notify("Your code goes here")`, or better yet something that does something with the OM (set selection to a color, whatever).  Without this, I thought the hookup was broken.

- Code should absolutely have a try/catch.  It's both a best-practice, and the only sane way to se

[2017-05-26 01:59] mamoonraja commented on #219
@Zlatkovsky @beth-panx  Did you find a way to add .gitignore other than using generator-gitignore? So far every other post point out that there is no way to copy .gitignore using any custom generator.

[2017-05-26 05:58] Zlatkovsky commented on #219
Adding @WrathOfZombies , @MIchaelMainer

[2017-05-26 14:36] mamoonraja commented on #219
Never mind, found a [solution for .gitignore](https://github.com/Yoctol/generator-yoctol-ansible/pull/3)

[2017-06-06 15:33] jasonjoh opened #244 "Running add-in locally no longer works, certificate invalid"
Even after adding the certificate to your Trusted Local Authorities, the add-in still won't load in Edge.

![image](https://user-images.githubusercontent.com/8966342/26837381-4cc75922-4aab-11e7-8aa1-6dfa5031972e.png)

Browsersync is generating self-signed certificates with a Subject of "Internet Widgits Pty Ltd" instead of "localhost". This seems to be reported in https://github.com/BrowserSync/br

[2017-06-06 18:19] jasonjoh commented on #244
So here's how I generated a certificate that would work. I had to install OpenSSL to do this.

1. Make a .\certs directory in the project
1. Copy openssl.cnf from whereever it lives into this directory (for me, using [OpenSSL for Windows](https://slproweb.com/products/Win32OpenSSL.html), this file was in C:\OpenSSL-Win64\bin\cnf).
1. Edit the .\certs\openssl.cnf file and add the following to the e

[2017-06-12 13:01] sumurthy opened #245 "Gets stuck"
I'm not able to get past 2nd prompt. It gets stuck. CTRL-C doesn't work.
(Windows OS)

![image](https://user-images.githubusercontent.com/8384457/27034963-6d90462c-4f34-11e7-85c6-b301c803010d.png)

[2017-06-12 13:40] fexdev commented on #244
@jasonjoh Thanks a lot!

[2017-06-12 16:42] MIchaelMainer commented on #245
Which release are you using? https://github.com/OfficeDev/generator-office/releases

[2017-06-12 16:47] MIchaelMainer commented on #244
Task: create scripts to automate this scenario. ([ref](https://github.com/OfficeDev/Word-Add-in-TypeScript-Canvas/blob/master/gen-cert.sh))

[2017-06-12 17:59] WrathOfZombies commented on #244
@MIchaelMainer  That automation will only work if you have openssl installed. If I'd suggest an alternative, it would be to generate certs for localhost domain and include it into the project as opposed to using browser-sync's.

[2017-06-12 18:03] MIchaelMainer commented on #244
Thank you @WrathOfZombies. That's a better idea.

[2017-06-13 18:22] tehbilly commented on #245
I get the same thing. Windows 10 Anniversary update (at the office), version 1.1.5 of generator-office.

[2017-06-22 16:31] timotius02 opened #246 "Why is react not an option in "Choose a Framework"?"
Didn't know for the longest time that the generator had support for React and had always used my own solution to use the vanilla output of the generator for React. Is there a reason why React isn't part of the "Choose a Framework" prompt?

[2017-06-22 16:35] timotius02 commented on #246
Note this in for installations that choose to not use TypeScript as I believe most people use React without it.

[2017-06-27 22:29] Hongbo-Miao commented on #246
Hi @timotius02 for pure React project, please check https://github.com/Hongbo-Miao/office-addin-react

[2017-06-27 22:54] #246 closed

[2017-06-27 22:56] timotius02 commented on #246
That's similar to how I did it as well.  I guess since you can just add a manifest file to create-react-app there's no need for it to be included in the generator.

[2017-06-27 23:06] Hongbo-Miao commented on #246
Yeah, personally I think YO Office in the future will only focus on manifest generation and validation.

[2017-06-27 23:08] #228 closed

[2017-07-04 00:50] sureshjoshi commented on #244
Just to throw my hat in the ring, when running locally (and I'm not recommending this part), you can just serve HTTP and it the plugin seems to load just fine (tested about 15 seconds ago).

I haven't dug into see what all the quirks are, but the generated 'Welcome' page loads.

[2017-07-06 01:42] Hongbo-Miao opened #248 "damaged icons"
When I do these steps below, it generates a assets folder with four damaged icons.

<img width="490" alt="yo-office" src="https://user-images.githubusercontent.com/3375461/27891924-7d1ef31a-61b1-11e7-96c9-6050a94f1f5e.png">

<img width="490" alt="icons" src="https://user-images.githubusercontent.com/3375461/27891915-72cf92d4-61b1-11e7-8252-1da0d36c333c.png">

[2017-07-08 08:54] addyosmani commented on #245
Yeah - unfortunately downgrading to Node 7.10.x is currently the best solution until the Node 8 readline issues have been fully addressed.

[2017-07-19 00:19] charly37 commented on #244
I just spend quite some time trying to have the certificate installed because I was thinking I was doing something wrong or maybe something was not working with my computer before finding this issue :(
I think it will be very useful for newcomer to update the documentation with a warning ?

[2017-07-20 01:15] charly37 commented on #244
I made something similar to @jasonjoh (Thx a lot for your issue and workaround) . It may be easier for people that have git installed on windows since it includes openssl in it (thus I did not install anything except git for windows).
Just create a /certs folder at root project and then run:
[code]
 (More info about the command: https://www.h3xed.com/programming/create-a-self-signed-ssl-certificat

[2017-07-22 18:36] charly37 opened #250 "Why Angular choice use FabricJs"
Hi,

I used the generator to create my project with Excel/Angular and Javascript choice. It works fine but now that i m trying to add more UI widget I notice the project rely on FabricJS whereas I was hoping it would include ngofficeuifabric. Is it the desired behavior ? Is it because ngofficeuifabric is not officialy supported by MS ?

When I was looking for the reason behind that I come accross

[2017-07-27 21:28] PaulDMendoza commented on #244
Please at least link to this issue and resolution from the tutorial on this page. I spent 2 hours today messing around trying to get the certificate issue resolved. https://docs.microsoft.com/en-us/outlook/add-ins/addin-tutorial

[2017-07-28 13:36] jasonjoh commented on #244
Thanks @PaulDMendoza for the suggestion, and I'm sorry for your frustration. I'll add a note to the tutorial, at least until this is resolved.

[2017-07-28 21:07] jasonjoh commented on #244
@PaulDMendoza the note has been added. Thanks again!

[2017-08-01 15:16] Katli95 opened #251 "Hosting multiple .html pages"
Hi, my first post here, so sorry if this is an obvious question but I can't seem to figure this one out myself.
I scaffold-ed a project with Yeoman for Outlook utilizing TypeScript and React, the package uses Webpack by default.

I run `npm start` and am unable to access any .html page apart from the default index.html. When I run `npm start` on another project, made as per the tutorial, I can nav

[2017-08-01 15:30] #251 closed

[2017-08-01 15:33] Katli95 commented on #251
Nevermind, I finally found what I was looking for online: [html-webpack-plugin](https://www.npmjs.com/package/html-webpack-plugin), I don't know why I didn't find it sooner, I've even looked at that exact plugin! So sorry for the inconvenience! Thanks for the awesome work you guys do!

[2017-08-03 08:25] derCiamas opened #252 "React project not starting"
When I generate the Outlook Typescript/React project it is not starting up with "npm start" command, I keep getting multiple errors.

Tried commenting out the plugin but then I get multiple different errors.

Here is the log:
const { CheckerPlugin } = require('awesome-typescript-loader');
      ^

SyntaxError: Unexpected token {
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile

[2017-08-03 21:20] StfBauer opened #253 "Cannot test and Office add-ins anymore - Office for Mac"
Strangely I cannot test Office Add-ins on Office for Mac anymore. The problem is that the local installed Excel always only redirects to the Office store and the Live ID but not the Office 365 Subscription.
The screen looks like this:
<img width="782" alt="screen shot 2017-08-03 at 23 16 10" src="https://user-images.githubusercontent.com/5503835/28944156-d18f1eaa-78a1-11e7-8273-4cc88fbf0e78.png">

[2017-08-07 02:13] Zlatkovsky opened #254 "Generated manifest should have ribbon buttons in AddIns tab, not Home tab"
Home tab can easily get cluttered.
Now that both Office desktop _and_ Office Online support the Add-ins tab, I think it's a natural candidate for having all add-ins go there (until they opt to have their own tab for a larger add-in).

[2017-08-07 02:20] Zlatkovsky commented on #254
Fixing it should be as easy as replacing any references for "TabHome" with "TabAddIns"

[2017-08-11 07:24] wwy94621 opened #255 "TS2559 error for react type of project"
I use generator-office 1.1.5 create a project with react and typescript. when try to run "npm run build", I'll get some errors like below.

![default](https://user-images.githubusercontent.com/15881207/29205994-7536024c-7eb2-11e7-91bd-1b9a62acf3fb.PNG)

Any body know how to fix this issue? Thanks.

[2017-08-16 00:21] Hongbo-Miao commented on #250
Personally I think YO Office In the future will only focus on manifest generation and validation.

Please check the demo
https://github.com/Hongbo-Miao/office-addin-angular

and step by step tutorial to create an Angular add-in
https://hongbo-miao.gitbooks.io/excel/content/quick-start/angular.html

[2017-08-16 00:22] Hongbo-Miao commented on #250
Hi @charly37 Personally I think YO Office In the future will only focus on manifest generation and validation. (We may remove React and Angular generation function)

Please check the demo
https://github.com/Hongbo-Miao/office-addin-angular

and step by step tutorial to create an Angular add-in
https://hongbo-miao.gitbooks.io/excel/content/quick-start/angular.html

[2017-08-16 00:23] Hongbo-Miao commented on #250
Hi @charly37 Personally I think YO Office In the future will only focus on manifest generation and validation. (We may remove React and Angular generation function)

Please check the demo
https://github.com/Hongbo-Miao/office-addin-angular

and step by step tutorial to create an Angular add-in
https://hongbo-miao.gitbooks.io/excel/content/quick-start/angular.html

(Will move under OfficeDev in the

[2017-08-16 00:24] Hongbo-Miao commented on #255
Hi @wwy94621 Personally I think YO Office In the future will only focus on manifest generation and validation. (We may remove React and Angular generation function)

Please check the demo
https://github.com/Hongbo-Miao/office-addin-react

and step by step tutorial to create a React add-in
https://hongbo-miao.gitbooks.io/excel/content/quick-start/react.html

(Will move under OfficeDev in the future

[2017-08-16 00:25] Hongbo-Miao commented on #252
Hi @derCiamas Personally I think YO Office In the future will only focus on manifest generation and validation. (We may remove React and Angular generation function)

Please check the demo
https://github.com/Hongbo-Miao/office-addin-react

and step by step tutorial to create a React add-in
https://hongbo-miao.gitbooks.io/excel/content/quick-start/react.html

(Will move under OfficeDev in the futur

[2017-08-16 00:27] Hongbo-Miao commented on #253
Hi @StfBauer do you still have the issue?
Can you create an repo to reproduce so I can test your code?

[2017-08-16 19:11] Hongbo-Miao opened #257 "add lines in package.json instead of replacing"
Right now if you only want to create a manifest file in the app folder, it will replace the existing package.json by
https://github.com/OfficeDev/generator-office/blob/master/src/app/templates/manifest-only/package.json

Can we just update by adding [these lines](https://github.com/OfficeDev/generator-office/blob/master/src/app/templates/manifest-only/package.json#L6-L11) instead of replacing.

**

[2017-08-17 01:12] wwy94621 commented on #255
Thanks for your reply.

[2017-08-17 01:12] #255 closed

[2017-08-17 01:25] Hongbo-Miao commented on #255
You are welcome!

[2017-08-17 05:54] wwy94621 commented on #255
I just fix the issue, just because some of the node_modules is not up to date. I updated @type/react, @uifabric， office-ui-fabric-react then it's working now.
Maybe you don't need to remove them in the future, it's really a good tool and can save lot's of time to prepare the develop environment. Thanks again.

[2017-08-18 00:18] #257 closed

[2017-08-18 00:19] Hongbo-Miao commented on #255
Yeah, we will definitely think twice about removing.

[2017-08-20 10:54] olegoga commented on #244
Based on @charly37 and @jasonjoh answers, here's the list of steps that worked for me:

1. In the project folder, create folder "certs" and open admin command prompt from it
2.  Use openssl from Git installation  to create the certificate `"c:\Program Files\Git\mingw64\bin\openssl.exe" req -x509 -sha256 -newkey rsa:2048 -days 24855 -nodes -subj "/C=US/CN=localhost" -keyout localhost.key -out local

[2017-08-21 09:26] StfBauer commented on #253
Below you see the version of my Excel but it seems to be more a general issue.

<img width="395" alt="screen shot 2017-08-21 at 11 17 43" src="https://user-images.githubusercontent.com/5503835/29512420-72336ba4-8662-11e7-8a7e-6e2b03c240fc.png">

Since in Office 365 some links have changed I cannot access the old add-in registration page anymore.

[2017-09-03 13:37] #250 closed

[2017-09-03 13:38] charly37 commented on #250
Thx for the info. I m closing for now since it was more question/info related than real issue

[2017-09-10 08:48] kevmcdonk commented on #252
Try fixing to "typescript": "2.2.2" in package.json. I found issues with 2.2.4

[2017-10-28 07:19] rheajt commented on #244
I have tried all of the steps from @jasonjoh , @charly37 , and @olegoga but I am still running into a Privacy error page.

I also tried installing the certificate into the Google Chrome settings. Can anyone help me figure out what I am missing here? I am very unfamiliar with this aspect of development.

[code]

[2017-11-03 19:43] strand opened #260 "Generate contributors guide when a project is created"
To encourage folks being able to more easily open source a project generated by generator-office, provide an option to generate a contributors guide.

Related to https://github.com/OfficeDev/generator-office/issues/219

I am interested in adding this feature if it is something which would be welcomed as an improvement to the project.

[2017-11-03 19:47] strand opened #261 "Generate a code of conduct when a project is created"
To encourage folks to feel safe to contribute, provide an option to generate a Code of Conduct, like the [Contributors Covenant](https://www.contributor-covenant.org/) in the project.

Related to #219, #260

I am interested in adding this feature if it is something which would be welcomed as an improvement to the project.

[2017-11-14 19:16] briwilcox opened #263 "Auto-generated project fails to start"
As far as I know I didn't miss a step, following MSDN docs here: https://docs.microsoft.com/en-us/outlook/add-ins/addin-tutorial

Support URL is commented out in the manifest.xml otherwise the app was created with default choices. npm start is being launched from power shell.

Sanitized log dump:
[code]

[2017-11-14 22:30] briwilcox commented on #263
Upgraded to node v9.1.0 and tried executing from powershell and cmd but still no luck.

[2017-11-16 18:15] briwilcox commented on #263
I solved my own issue, I simply had to manually install the npm packages the project depended on and it is working fine now.

Either [the tutorial](https://docs.microsoft.com/en-us/outlook/add-ins/addin-tutorial) should be updated to reflect that yeoman won't install these dependencies for you or if that is a bug it should be fixed.

[2017-11-27 22:08] realenginerd opened #264 "Self-signed cert on Chrome on OS X"
I'm trying to use Vorlon to debug my Outlook add-in through Chrome. I need Chrome on OS X to accept my self-signed certificate (using instructions from [ssl.md](https://github.com/OfficeDev/generator-office/blob/master/src/docs/ssl.md)), but I am still getting a "Not Secure" error.

I've installed the certificate to the system keychain:
![image](https://user-images.githubusercontent.com/3527178/33